@media (min-width: 1200px) {
  // .container {
  //   width: 1440px;
  // }
}

@media (max-width: 480px) {
  .padding-100-left-right {
    padding: 10px!important;
  }
}

@media screen and (min-width: 320px) and (max-width: 680px) {
  .text-profile-extended {
    max-width: 325px!important;
    min-width: 325px!important;
  }
	html body .no-margin-mobile {
		margin: 0 !important;
	}
	html body .margin-bottom-md, html body .margin-bottom-md-mobile {
		margin-bottom: 10px !important;
	}
	html body .margin-top-md, html body .margin-top-md-mobile {
		margin-top: 10px !important;
	}
	html body .margin-left-md, html body .margin-left-md-mobile {
		margin-left: 10px !important;
	}
	html body .margin-right-md, html body .margin-right-md-mobile {
		margin-right: 10px !important;
	}
  html body .margin-bottom-lg, html body .margin-bottom-lg-mobile {
		margin-bottom: 20px !important;
	}
	html body .margin-top-lg, html body .margin-top-lg-mobile {
		margin-top: 20px !important;
	}
	html body .margin-left-lg, html body .margin-left-lg-mobile {
		margin-left: 20px !important;
	}
	html body .margin-right-lg, html body .margin-right-lg-mobile {
		margin-right: 20px !important;
	}
	html body .padding-bottom-md, html body .padding-bottom-md-mobile {
		padding-bottom: 10px !important;
	}
	html body .padding-top-md, html body .padding-top-md-mobile {
		padding-top: 10px !important;
	}
	html body .padding-left-md, html body .padding-left-md-mobile {
		padding-left: 10px !important;
	}
	html body .padding-right-md, html body .padding-right-md-mobile {
		padding-right: 10px !important;
	}
  html body .padding-bottom-lg, html body .padding-bottom-lg-mobile {
		padding-bottom: 20px !important;
	}
	html body .padding-top-lg, html body .padding-top-lg-mobile {
		padding-top: 20px !important;
	}
	html body .padding-left-lg, html body .padding-left-lg-mobile {
		padding-left: 20px !important;
	}
	html body .padding-right-lg, html body .padding-right-lg-mobile {
		padding-right: 20px !important;
	}
	html body .font-xs-mobile {
		font-size: 11px !important;
	}
	html body .font-sm-mobile {
		font-size: 13px !important;
	}
	html body .font-md-mobile {
		font-size: 15px !important;
	}
	html body .font-lg-mobile {
		font-size: 17px !important;
	}
  html body .font-xlg-mobile {
		font-size: 20px !important;
	}
  html body .no-border-left-mobile {
    border-left: 0 !important;
  }
  html body .no-border-right-mobile {
    border-right: 0 !important;
  }
  html body .no-border-top-mobile {
    border-top: 0 !important;
  }
  html body .no-border-bottom-mobile {
    border-bottom: 0 !important;
  }
  html body .no-padding-mobile {
    padding: 0 !important;
  }
  html body .no-padding-left-mobile {
    padding-left: 0 !important;
  }
  html body .no-padding-right-mobile {
    padding-right: 0 !important;
  }
  html body .no-padding-top-mobile {
    padding-top: 0 !important;
  }
  html body .no-margin-left-mobile {
    margin-left: 0 !important;
  }
  html body .no-margin-right-mobile {
    margin-right: 0 !important;
  }
  html body .no-margin-top-mobile {
    margin-top: 0 !important;
  }
  html body .no-margin-bottom-mobile {
    margin-bottom: 0 !important;
  }
  html body .no-padding-bottom-mobile {
    padding-bottom: 0 !important;
  }

  .footer-logo.margin-right-xlg.seperator-right.padding-right-xxlg {
    padding-right: 0 !important;
    margin-right: 0 !important;
    margin-top: 20px !important;
    border: 0 !important;
  }

  .footer-area .margin-left-xlg.padding-xlg.font-14 {
    padding: 15px 20px !important;
    margin-left: 0 !important;
  }

  .left-side-up-draft:before {
    display: none !important;
  }

  .top-head.col-xs-12.margin-top-lg {
    margin-top: 0!important;
  }

  .top-head .logo {
    padding: 10px 0!important;
    margin-top: 0!important;
  }

  .top-head .logo img {
        max-width: 100px;
            margin-left: 15px!important;
  }

  .navbar-default .navbar-brand {
    text-indent: -99999px;
  }

  .navbar-toggle {
    float: left;
    margin-left: 15px;
  }

  .navbar-collapse.no-padding.margin-top-xlg.collapse.in, .navbar-collapse.no-padding.margin-top-xlg.collapsing {
    margin-top: 0 !important;
        overflow: hidden;
  }

  .navbar-collapse .navbar-nav.big-menu > li > a {
    padding-left: 35px !important;
  }

  // .mini-menu-element.navbar-right.after-login.dropdown.no-padding.display-inline-block.margin-left-lg {
  //   position: absolute;
  //   top: -102px;
  //   right: 31px;
  // }

  .collapsing .mini-menu-element.navbar-right.after-login.dropdown.no-padding.display-inline-block.margin-left-lg, .collapse.mini-menu-element.navbar-right.after-login.dropdown.no-padding.display-inline-block.margin-left-lg {
    display: none!important;
  }

  .collapse.in .mini-menu-element.navbar-right.after-login.dropdown.no-padding.display-inline-block.margin-left-lg {
    position: absolute;
    top: 5px;
    right: 30px;
  }



  .custom-drodown:before {
    display: none !important;
  }

  .main-menu .custom-drodown {
    padding-left: 13px;
    background-color: #eaeaea!important;
  }

  .big-left a > img, .partial-right a > img, .news-item-image {
    max-width: 100%!important;
    min-width: initial!important;
  }

  span.display-inline-block.border-radius-md.padding-sm-top-bottom.padding-md-left-right.font-11.font-montserrat-bold.color-white.position-relative.top-minus-10.margin-left-md.font-xs-mobile {
    top: 0px!important;
  }

  .modal-footer .btn.btn-default.button-stabilizer.padding-xlg-left-right.padding-md-top-bottom.save-button, .modal-footer .btn.btn-default.button-stabilizer.padding-xlg-left-right.padding-md-top-bottom.publish-button  {
    margin-left: 0 !important;
    margin-top: 10px !important;
  }
  .modal-footer .btn.btn-default.button-stabilizer.padding-xlg-left-right.padding-md-top-bottom.publish-button  {
    margin-right: 20px !important;
  }

  .modal-footer .btn.btn-default.button-stabilizer.padding-xlg-left-right.delete-button {
    margin-right: 0 !important;
  }

  .overflow-x-auto-mobile {
    overflow-x: auto;
  }

  .min-width-150-mobile {
    min-width: 150px;
  }
  .max-height-150-mobile {
    max-height: 150px!important;
  }

  .diff-send-message {
    min-height: 40px!important;
  }

  [data-dismiss="modal"].close span {
    position: relative;
    left: 8px;
  }

  .min-height-400-mobile {
    min-height: 400px;
  }

  .hidden-xs-mobile {
    display: none!important;
  }

  .search-area {
    padding: 5px 0 5px 10px;
  }

  .push-right form.navbar-form.navbar-right.no-padding.no-margin.margin-top-md {
    margin: 0!important;
  }
  .pointings-visible-area:hover ~ .top-pointings-area {
    min-width: 150px !important;
    left: 0 !important;
    border: 0 !important;
    box-shadow: 0 0 7px 1px #c1c1c1 !important;
  }
}
