
@font-face {
	font-family: 'Conv_MyNetBolIt';
	src: url('MyNetBolIt.eot');
	src: local('☺'), url('MyNetBolIt.woff') format('woff'), url('MyNetBolIt.ttf') format('truetype'), url('MyNetBolIt.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

