html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, sub, sup, tt, var, dl, dt, dd, ol, ul, li, form, label {margin:0; padding:0; border:0;}
:focus {outline:0;}
body {background:#ffffff no-repeat center top; font-size:10px; font-family:Arial,Helvetica,sans-serif; color:#3c3c3c; -webkit-text-size-adjust: none;}
ol, ul {list-style:none; padding:0; margin:0;}
table {border-collapse:collapse;}
blockquote:before, blockquote:after, q:before, q:after {content:"";}
blockquote, q {quotes:"" "";}
a {text-decoration:none; color:#676e7c;}
h1, h2, h3, h4, h5 { font-weight: normal; }
.centerDiv { display: inline-block; position:relative; zoom: 1; *display: inline; }
.clear{clear:both;}
.cf:before, .cf:after {content: " "; /* 1 */ display: table; /* 2 */  }
.cf:after { clear: both; }
.cf { *zoom: 1; }

.extendable { position:relative; }
.extendable a { height: 100%; display:block; padding: 0 10px 0 20px; }
.extendableCorner { position:absolute; top: 0; right: -10px; width: 10px; height: 100%; background-position: top right; }
.extendable:hover { background-position: bottom left !important; }
.extendable:hover .extendableCorner { background-position: bottom right !important; }

.mainDiv { width: 980px; margin: 0 auto; padding-top:20px; }
.header, .banner, .inputArea, .footer, .applyBar { width: 100%; float: left; }
.paddingDiv { padding: 0 30px; }

.header { position:relative; z-index: 2;  }
.logo { position: absolute; display:block; right: 5px; bottom: 10px; }

.presenter { position:absolute; right: 26px; top: -20px; }
.ribbon { right: -10px; top: -10px; position:absolute; }


.banner { background:url(../img/bannerBg.jpg) top left no-repeat; min-height:495px; position:relative; color: #1d1d1d; }
.banner h1 { font-family: 'HelveticaLTStdBoldCondensed', arial, helvetica; font-size: 72px; color: #fe6216; font-weight:normal; padding-left: 30px; background:url(../img/transparentBg_white.png) repeat; height: 109px; line-height:109px;  letter-spacing: -2px; float: left; width: 950px; margin-top:36px; }
.banner h2 { font-size:32px; font-weight:normal; font-family: 'HelveticaLTStdBoldCondensed', arial, helvetica; letter-spacing:-2px; margin-top:16px; }
.banner ul li { font-size: 25px; line-height:27px; color: #1d1d1d; letter-spacing: -2px; font-family:'HelveticaLTStdBoldCondensed', arial, helvetica; padding-left: 22px; background:url(../img/tick.png) 3px 8px no-repeat; }

.bannerBar { width: 100%; position:absolute; bottom: 0; left: 0; height: 68px; background:url(../img/transparentBg.png) repeat; z-index: 2; }
.bannerBarInner { padding-left:190px; position:relative; height: 100%; }
.bannerBarInner img { position:absolute; bottom: 0; left: 26px; }
.bannerBarInnerContent { margin-top:8px; color: #fff; font-size:20px; }
.bannerBarInnerContent h3 { font-family: 'HelveticaLTStdBoldCondensed', arial, helvetica; font-weight:normal; }
.bannerBarInnerContent p { font-size:20px; font-family: 'HelveticaLTStdCondRegular', arial, helvetica;  }




.applyBar { height: 51px; line-height:51px; background: #fe6216 ; }
.applyBar .paddingDiv { padding-left: 57px; background: url(../img/arrowBottom.png) 30px center no-repeat; }
.applyBar span { font-size:23px; color: #ffffff; font-family: 'helvetica_lt_std_cond_blk', arial, helvetica; padding-right:50px; height: 100%; line-height:51px; float: left; }

.inputArea { background: #dcdcdc; text-align: center; }
.inputArea .centerDiv { text-align: left; padding: 25px 0 12px 0; }
.inputs { float: left; width: 680px; position:relative; } 
.inputDiv { float: left; margin-bottom: 10px; margin-right:22px; width: 318px; }
.inputTitle {width: 80px; float: left; height: 36px; line-height:36px; color: #434343; font-size: 14px; font-weight:bold; }
.inputDiv input { padding: 0 10px; margin: 0; width: 210px; border: 1px solid #a7a7a7; height: 36px; line-height:36px; }
input.code { border-right: 0; background: #f2f2f2; color: #434343; width: 48px; padding-left:14px; }
input.phone { width:140px; border-left:0; margin-left: -5px; }
.inputArea .extendable { float: left; background:url(../img/inputs_btn.png) top left no-repeat; height: 46px; line-height:46px; margin-top:40px; }
.inputArea .extendable a { color: #f7f7f7; font-family: 'helvetica_lt_stdbold'; font-size:20px; z-index:-1px; }
.inputArea .extendableCorner { background:url(../img/inputs_btn.png) top right no-repeat; }

/* ----Customize checkbox----- */
label.checkbox span.holder {height: 38px; background: url(../img/checkbox.png) 0 0 no-repeat; font-size:12px;}
label.checked span.holder, label.checked span.holder, label.checked:hover span.holder, label.checked:hover span.holder { top: -19px !important; }
label.list {float: left; clear: left; margin: 0 0 5px 0; font-size:11px;}
label.inline {float: left; margin: 0 10px 0 0;}
input.hiddenCheckbox {position: absolute; left: -10000px; /* Hide the input */}
label.prettyCheckbox span.holderWrap {display: block; float: left; position: relative; margin-right: 5px; overflow: hidden;}
label.prettyCheckbox span.holder {display: block; position: absolute; top: 0; left: 0;}
label a{text-decoration:underline; color: #1d1d1d;  }
.CheckAreaOuter{ margin-top:15px; float:left;}
.checkArea label { line-height:22px; font-size: 11px; color: #1d1d1d; }
.checkArea input { display:none; }

.footer { padding: 20px 0; }
.footerPt1 { float: left; width: 100%; }
.footerPt1 p { font-size:11px; color: #1d1d1d; }
.footerPt2 { float: left; width: 100%; margin-top:16px;}
.footerCards { float: left;  margin-top:10px; }
.fsaDiv { float: right; }
.fsaDiv p { font-size: 12px; color: #123760; float: left; margin-top: 5px; text-align:center; margin-left: 10px;}
.fsaDiv img { float: left; }	