@font-face {
    font-family: 'helvetica_lt_std_cond_blk';
    src: url('../font/helveticaltstd-blkcond-webfont.eot');
    src: url('../font/helveticaltstd-blkcond-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/helveticaltstd-blkcond-webfont.woff') format('woff'),
         url('../font/helveticaltstd-blkcond-webfont.ttf') format('truetype'),
         url('../font/helveticaltstd-blkcond-webfont.svg#helvetica_lt_std_cond_blkRg') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'HelveticaLTStdRoman';
    src: url('../font/helveticaltstd-roman-webfont.eot');
    src: url('../font/helveticaltstd-roman-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/helveticaltstd-roman-webfont.woff') format('woff'),
         url('../font/helveticaltstd-roman-webfont.ttf') format('truetype'),
         url('../font/helveticaltstd-roman-webfont.svg#HelveticaLTStdRoman') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'helvetica_lt_stdbold';
    src: url('../font/helveticaltstd-bold-webfont.eot');
    src: url('../font/helveticaltstd-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/helveticaltstd-bold-webfont.woff') format('woff'),
         url('../font/helveticaltstd-bold-webfont.ttf') format('truetype'),
         url('../font/helveticaltstd-bold-webfont.svg#helvetica_lt_stdbold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'HelveticaLTStdCondRegular';
    src: url('../font/helveticaltstd-cond-webfont.eot');
    src: url('../font/helveticaltstd-cond-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/helveticaltstd-cond-webfont.woff') format('woff'),
         url('../font/helveticaltstd-cond-webfont.ttf') format('truetype'),
         url('../font/helveticaltstd-cond-webfont.svg#HelveticaLTStdCondRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'HelveticaLTStdBoldCondensed';
    src: url('../font/helveticaltstd-boldcond-webfont.eot');
    src: url('../font/helveticaltstd-boldcond-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/helveticaltstd-boldcond-webfont.woff') format('woff'),
         url('../font/helveticaltstd-boldcond-webfont.ttf') format('truetype'),
         url('../font/helveticaltstd-boldcond-webfont.svg#HelveticaLTStdBoldCondensed') format('svg');
    font-weight: normal;
    font-style: normal;

}