
@font-face {
	font-family: 'Conv_MyNetBol';
	src: url('MyNetBol.eot');
	src: local('☺'), url('MyNetBol.woff') format('woff'), url('MyNetBol.ttf') format('truetype'), url('MyNetBol.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

