.center { display: -webkit-box;
-webkit-box-orient: horizontal;
-webkit-box-pack: center;
-webkit-box-align: center;

display: -moz-box;
-moz-box-orient: horizontal;
-moz-box-pack: center;
-moz-box-align: center;

display: box;
box-orient: horizontal;
box-pack: center;
box-align: center; }
.mainDiv { width: 100%; position:relative;  overflow:hidden}
.main-nav { width: 80%; background: url(../img/sideNavBg.png) repeat;  position:fixed; left: 0; top: 0; display:none; }
.main-nav .relative { width: 100%; height: 100%; }
.main-nav ul li { width: 100%; float: left; height: 94px; line-height:97px; background: url(../img/sideNavItemBg.jpg) top left no-repeat; margin-bottom:1px; }
.main-nav ul li div { float: left; width: 67px; height: 67px; margin: 14px 15px 0 20px; background:url(../img/sideIconBg.png) center center no-repeat; }
.main-nav ul li div img { float: left; }
.main-nav ul li a { color: #fff; font-size:30px; letter-spacing:-1px; font-family: 'FuturaStdBook', arial, helvetica; width: 100%; height: 100%; display:block; }

.main-nav ul li:first-child { height:114px; line-height:122px; background: url(../img/sideNavBtnBg.jpg) top left no-repeat; margin-bottom:11px; }
.main-nav ul li:first-child div { background:url(../img/sideBtnIcon.png) top left no-repeat; margin-top:23px; }

.sideShadow { position:absolute; right: 0; top: 0; height: 100%; width: 6px; }
.mainNavOpened { margin-left:80%; }
.contentContainer { width: 100%; position:relative; z-index:2;
-webkit-transition: margin-left 0.5s ease;  
-moz-transition:  margin-left 0.5s ease;  
-o-transition:  margin-left 0.5s ease;  
-ms-transition:  margin-left 0.5s ease;  
transition:  margin-left 0.5s ease;  
}
header { height: 74px; border-bottom: 1px solid #d7d7d7; border-left: 1px solid #d7d7d7; border-right: 1px solid #d7d7d7; position:relative;
background: #fcfdfd; /* Old browsers */
background: -moz-linear-gradient(top, #fcfdfd 0%, #efeeee 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcfdfd), color-stop(100%,#efeeee)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #fcfdfd 0%,#efeeee 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #fcfdfd 0%,#efeeee 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #fcfdfd 0%,#efeeee 100%); /* IE10+ */
background: linear-gradient(to bottom, #fcfdfd 0%,#efeeee 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfdfd', endColorstr='#efeeee',GradientType=0 ); /* IE6-9 */ 
} 
header a { display:block; height: 100%;  }
.main-nav_link { position:absolute; left: 0; top: 0; width: 83px; background:url(../img/mainMenu_icon.png) center no-repeat;border-right: 1px solid #d7d7d7; }
.logo { width: 100%; background:url(../img/logo.png) center no-repeat; float: left;   }
.callUs { position:absolute; right: 0; top: 0; width: 83px; background:url(../img/call_icon.png) center no-repeat;border-left: 1px solid #d7d7d7; }
.bottomBar { 
position: absolute; bottom: -85px; left: 0; width: 100%; z-index:3; height: 85px; background: url(../img/opacity_75.png) repeat;
 }
.bottomBar .relative { height: 100%; }
.bottomBar .homeLink { background: none; border-left: 1px solid #727272; }
.bottomBar .backLink { background: none; border-right: 1px solid #727272; }
.contentContainer { background:#fff; }
.padding10 { padding: 10px; }
.padding40_30 { padding: 40px 30px; }
.padding45_35 { padding: 45px 35px; }
.padding50 { padding: 50px; }
.padding35 { padding: 35px; }
.padding30 { padding: 35px; }

.content p { font-size: 20px; line-height:25px; color: #1d1d1d; }
.greenGradBtn { background:url(../img/greenGradientBtn.png) top left no-repeat; height: 86px; line-height:86px; width: 100%; background-size: 100% 100%;  }
.greenGradBtn:active { background-position:bottom left; }
.greenGradBtn span {  height: 86px; line-height:86px; display:block; color: #fff; font-size: 40px; font-family: 'HelveticaLTStdBoldCondensed', arial, helvetica; letter-spacing:-2px; text-shadow: 0 -1px #3a4416 }
.greenGradBtn span img { float: left; margin-top:10px; margin-right:17px;  }


.swiper-container { margin-top: 10px !important; }
.sliderInner { padding: 0 20px; height: 100%; position:relative; }
.sliderInner h2 { font-size:50px; color: #fff; font-family:'FuturaStdBook', arial, helvetica;letter-spacing: -1px; text-shadow: 0 -1px #3a4416  }
.sliderInner h3 { font-size:24px; line-height:28px; color: #fff; font-family:'FuturaStdBook', arial, helvetica;letter-spacing: -1px; text-shadow: 0 -1px #3a4416  }
.swiper1 { 
background: #0092bc; /* Old browsers */
background: -moz-linear-gradient(top, #0092bc 0%, #00558b 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0092bc), color-stop(100%,#00558b)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #0092bc 0%,#00558b 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #0092bc 0%,#00558b 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #0092bc 0%,#00558b 100%); /* IE10+ */
background: linear-gradient(to bottom, #0092bc 0%,#00558b 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0092bc', endColorstr='#00558b',GradientType=0 ); /* IE6-9 */
}
.swiper1 h2 { padding-top:50px;}
.swiper1 h3 { margin-top:22px; }
.banner1Img { position:absolute; right: 28px; top: 52px; }

.swiper2 h2 { padding-top:26px; text-shadow:none !important;}
.swiper2 h3 { margin-top:22px; }
.swiper2-list{color:#ffffff; font-size:20px; font-family:'FuturaStdBook', arial, helvetica; width:288px; margin-top:15px;}
.swiper2-list li{ background:url(../img/arrowListBanner.png) left 5px no-repeat; padding-left:18px; margin-bottom:5px;}
.banner2Img { position:absolute; right: 50px; top: 48px; }

.swiper3Container{ position:absolute; left:40px; top: 0; z-index:20;}
.swiper3 h2 { padding-top:45px; color:#ff0000; text-shadow:none !important;}
.swiper3 h3 { font-family: 'FuturaStdBold', arial, helvetica; font-size:50px; line-height:54px; text-shadow: -2px 0 #403e3e, 0 2px #403e3e, 2px 0 #403e3e, 0 -2px #403e3e;}
.swiper3 h4 { font-size:30px; letter-spacing:-1px; color:#fff; line-height:36px; text-shadow: -2px 0 #403e3e, 0 2px #403e3e, 2px 0 #403e3e, 0 -2px #403e3e;}
.swiper3 h5 { font-size:20px; letter-spacing:-1px; color:#fff; text-shadow: -2px 0 #403e3e, 0 2px #403e3e, 2px 0 #403e3e, 0 -2px #403e3e;}
.banner3Img { position:absolute; right: 0; top: 0; width:100%; height:100%; z-index:15;}

.swiper2 {
background: #f88000; /* Old browsers */
background: -moz-linear-gradient(top,  #f88000 0%, #de5e00 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f88000), color-stop(100%,#de5e00)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #f88000 0%,#de5e00 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #f88000 0%,#de5e00 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #f88000 0%,#de5e00 100%); /* IE10+ */
background: linear-gradient(to bottom,  #f88000 0%,#de5e00 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f88000', endColorstr='#de5e00',GradientType=0 ); /* IE6-9 */
}



.fullLinks { margin-top:10px; width: 100%; }
.fullLinks ul li { min-height:123px; border: 1px solid #d7d7d7; margin-bottom:7px; position:relative; 
background: #fcfdfd; /* Old browsers */
background: -moz-linear-gradient(top, #fcfdfd 0%, #e6e6e5 99%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcfdfd), color-stop(99%,#e6e6e5)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #fcfdfd 0%,#e6e6e5 99%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #fcfdfd 0%,#e6e6e5 99%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #fcfdfd 0%,#e6e6e5 99%); /* IE10+ */
background: linear-gradient(to bottom, #fcfdfd 0%,#e6e6e5 99%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfdfd', endColorstr='#e6e6e5',GradientType=0 ); /* IE6-9 */
}
.fullLinks ul li:last-child { margin-bottom:0; }
.fullLinks ul li a {  display:block; position:absolute; left: 0; right: 0; bottom: 0; top: 0; padding: 16px; background:url(../img/arrowRight.png) 97% center no-repeat;}
.fullLinks ul li a h2 { color: #002c5a; font-size: 32px; letter-spacing:-1px; font-family:'FuturaStdBook', arial, helvetica; width: 440px; }
.fullLinks ul li a p { color: #1d1d1d; font-size: 22px; letter-spacing:-1px; font-family: arial, helvetica; margin-top:8px; line-height:22px; width: 440px; }
.fullLinksImg { height: 83px; width: 83px; border-radius: 80px; position:absolute; right: 53px; top: 50%; margin-top:-42px;
background: #e6e6e5; /* Old browsers */
background: -moz-linear-gradient(top, #e6e6e5 1%, #fcfdfd 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#e6e6e5), color-stop(100%,#fcfdfd)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #e6e6e5 1%,#fcfdfd 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #e6e6e5 1%,#fcfdfd 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #e6e6e5 1%,#fcfdfd 100%); /* IE10+ */
background: linear-gradient(to bottom, #e6e6e5 1%,#fcfdfd 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6e6e5', endColorstr='#fcfdfd',GradientType=0 ); /* IE6-9 */

display: -webkit-box;
-webkit-box-orient: horizontal;
-webkit-box-pack: center;
-webkit-box-align: center;

display: -moz-box;
-moz-box-orient: horizontal;
-moz-box-pack: center;
-moz-box-align: center;

display: box;
box-orient: horizontal;
box-pack: center;
box-align: center;
}

footer { color: #fff; font-size:16px; padding-bottom:85px; }
.home footer { padding-bottom:0; }
footer a { color: #fff; }
footer .padding40_30 { background:#163e6a; }
footer .padding40_30 div:first-child { border-bottom: 1px solid #456588; padding-bottom:30px; margin-bottom:30px; }

.f_social { background: #123760; padding: 14px 0; }
.f_social li { float: left; width: 64px; height: 62px;border-radius: 80px; background: #184576;  margin-right: 36px;
display: -webkit-box;
-webkit-box-orient: horizontal;
-webkit-box-pack: center;
-webkit-box-align: center;

display: -moz-box;
-moz-box-orient: horizontal;
-moz-box-pack: center;
-moz-box-align: center;

display: box;
box-orient: horizontal;
box-pack: center;
box-align: center;
}
.f_social li:last-child { margin-right: 0; }
.footerBottom { text-align:center; line-height: 74px; color: #1d1d1d; font-size:18px; font-family:'FuturaStdBook', arial, helvetica; }


/*MOBILE MENU*/
.mainNav { height: 100%; position:absolute; top: 0; left: 0; width: 80%; }



/*ALL PLATFORMS*/
.innerBanner {  position: relative; padding: 35px 0 35px 20px; margin-top:10px;
background: #0092bc; /* Old browsers */
background: -moz-linear-gradient(top, #0092bc 1%, #00558b 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#0092bc), color-stop(100%,#00558b)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #0092bc 1%,#00558b 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #0092bc 1%,#00558b 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #0092bc 1%,#00558b 100%); /* IE10+ */
background: linear-gradient(to bottom, #0092bc 1%,#00558b 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0092bc', endColorstr='#00558b',GradientType=0 ); /* IE6-9 */
 }
.innerBanner img { position:absolute; right: 40px; top: 22px; }
.innerBanner h2 { color: #fff; font-size:50px; font-family:'FuturaStdBook', arial, helvetica; }
.innerBanner h3 { color: #fff; font-size:24px; font-family:'FuturaStdBook', arial, helvetica; margin-top:24px; }
.slidingLinks { margin-top: 10px; }
.slidingLinks ul li { border: 1px solid #8f9092; margin-bottom:8px; }
.slidingLinks ul li:last-child { margin-bottom:0px; }
.slidingLinks ul li > a { display:block; border-bottom: 1px solid #8f9092; padding-top:38px; padding-bottom: 18px; padding-left: 34px; position:relative;
background: #fefefe; /* Old browsers */
background: -moz-linear-gradient(top, #fefefe 0%, #b9b9b9 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fefefe), color-stop(100%,#b9b9b9)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #fefefe 0%,#b9b9b9 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #fefefe 0%,#b9b9b9 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #fefefe 0%,#b9b9b9 100%); /* IE10+ */
background: linear-gradient(to bottom, #fefefe 0%,#b9b9b9 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#b9b9b9',GradientType=0 ); /* IE6-9 */
}
.slidingLinks ul li > a img { position:absolute; right: 32px; top: 24px;  }
.slidingLinks ul li > a h2 { font-size: 48px; color: #163e6a; font-family: 'FuturaStdBook', arial, helvetica; }
.slidingLinks ul li > a h3 { font-size: 30px; color: #163e6a; font-family: arial, helvetica; margin-top:12px; }
.slidingLinkContent { padding: 30px 18px; display:none; }
.mt4_text { font-family: Arial, Helvetica, sans-serif; font-weight:bold; font-size:44px; letter-spacing:-2px; line-height:55px; background:url(../img/mt4.png) left center no-repeat; padding-left: 63px; display:block; }
.slidingLinkContent p { margin-top:16px; }
.slidingLinkContent a { background:url(../img/slidingLinkDlBtn.png) top right no-repeat; height: 75px; line-height:75px; padding-left:35px; padding-right:93px; border-radius: 5px; font-size:34px; color: #fff; font-weight:bold; margin-top:16px; }


/*THANK YOU*/
.thankYou { text-align: center; margin-top:12px; }
.thankYou h2 { color: #163e6a; font-size:59px; font-family:'FuturaStdBold', arial, helvetica; letter-spacing:-3px; margin-top:24px; }
.thankYou p { font-size:24px; color: #8dab26; margin-top:34px; }
.thankYou h3 { font-size: 26px; color: #163e6a; margin-top:58px; text-align:left; font-weight:bold; }
.accDiv { padding: 20px 22px; background:#eeeeed; margin-top: 25px; margin-bottom:12px; }
.accDiv > div { width: 100%; float: left; margin-bottom: 14px; font-size:27px; }
.accDiv > div:last-child { margin-bottom: 0px; }
.accDiv > div > h4 { float: left; color: #163e6a; font-weight:bold; min-width:154px; }
.accDiv > div > span { float: left; }
.accDiv > div > strong { float: left; float: left; }
.choseOneHeader { padding-top:13px; height: 30px; line-height:30px; border-top: 1px solid #d3d3d3; font-size:28px; font-weight:bold; color: 3163e6a; }



/*RISK WARNING*/
.innerHeader { height: 80px; margin-top:10px; position:relative;
background: #194d85; /* Old browsers */
background: -moz-linear-gradient(top, #194d85 1%, #0b294e 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#194d85), color-stop(100%,#0b294e)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #194d85 1%,#0b294e 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #194d85 1%,#0b294e 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #194d85 1%,#0b294e 100%); /* IE10+ */
background: linear-gradient(to bottom, #194d85 1%,#0b294e 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#194d85', endColorstr='#0b294e',GradientType=0 ); /* IE6-9 */
 }
.innerHeader { color: #fff; font-size:34px; font-family:'FuturaStdBook', arial, helvetica; line-height:80px; text-align:center; margin-bottom:8px; }
.backLink { position:absolute; left: 0; top: 0; height: 100%; width: 85px; background:url(../img/innerHeaderBg.png) top right no-repeat;  cursor:pointer; }
.homeLink { position:absolute; right: 0; top: 0; height: 100%; width: 85px; background:url(../img/innerHeaderBg.png) top left no-repeat;  }
.innerHeader > a > img { margin-top:18px; }
.inlineListStyle li { font-size:24px; line-height:30px; color: #595959; margin-bottom:35px; }
.inlineListStyle li strong { color: #595959; }
.inlineListStyle li:last-child { margin-bottom: 0px; }

.outsideListStyle { padding-left: 40px; }
.outsideListStyle li { font-size:24px; line-height:30px; color: #595959; margin-bottom:35px; position:relative; }
.outsideListStyle li strong { color: #595959; position:absolute; left: -40px; top: 0; }
.outsideListStyle li:last-child { margin-bottom: 0px; }


/*WHY GKFX*/
.innerHeader h1 strong{font-family: 'FuturaStdBold' ,arial;}

.outsideListStyle { padding-left: 40px; }
.outsideListStyle li { font-size:24px; line-height:30px; color: #595959; margin-bottom:35px; position:relative; }
.outsideListStyle li strong { color: #595959; position:absolute; left: -40px; top: 0; }
.outsideListStyle li:last-child { margin-bottom: 0px; }

.arrowListTitle{color:#9bba44; font-weight:normal; font-size:28px; line-height:35px; margin-bottom:8px;}
.arrowListStyle{margin-bottom:30px;}
.arrowListStyle li { font-size:24px; line-height:30px; color: #595959; margin-bottom:5px; padding-left:20px; background:url(../img/arrowList.png) left 6px no-repeat; }
.arrowListStyle li:last-child { margin-bottom: 0px; }
.arrowListSubStyle{list-style: disc; margin-left:20px;}
.arrowListSubStyle li { background:none; padding-left:0px;}


/*ACCOUNTS*/

.requeredFields { color: #9c9c9c; font-size: 22px; padding-right: 60px; text-align: right; background:url(../img/req.png) right center no-repeat; height: 40px; line-height:40px; }
.inputLine { width: 100%; float: left; margin-top:22px; overflow:hidden; }
.inputLine select { width: 100%; margin: 0; height: 60px; padding-left:2%; opacity: 0; cursor:pointer; font-size:24px; }
.inputLine input[type="text"] { width: 97%; padding: 16px 0 15px 2%; margin: 0; font-size: 24px; border: 1px solid #d3d3d3; }
.selectBg { background: url(../img/selectArrow.png) no-repeat 99% center; border: 1px solid #d3d3d3; position:relative; width: 99%; }
.inputTitle { font-size:26px; color: #1c1c1c; margin-bottom: 13px; display:block; }
.selected { position:absolute; left: 2%; top: 17px; font-size:24px; }

input[type=checkbox].css-checkbox {
display:none;
}

input[type=checkbox].css-checkbox + label.css-label {padding-left:30px;height:24px; display:inline-block;line-height:26px;background-repeat:no-repeat;background-position: 0 0;font-size:24px;vertical-align:middle;cursor:pointer;}
input[type=checkbox].css-checkbox:checked + label.css-label {background-position: 0 -24px;}
.css-label{background-image:url(../img/lite-green-check.png);}
.inputLineGroup .inputTitle { margin-bottom:0; }
.inputLineGroup .css-checkbox { margin-top:20px; margin-bottom:13px; }
.inputLineGroup .css-label { margin-top:20px; margin-bottom:13px; }
.inputLineGroup .selectBg { width: 48%; float: left; }
.inputLineGroup .selectBg:last-child { width: 48%; float: right; }


.inputLineCaptcha input[type="text"] { width: 48%; float: left; }
.inputLineCaptcha .captchaRefresh { float: right; width: 48%; height: 59px; line-height:61px; background: url(../img/refrestIcon.png) 98% center no-repeat; border: 1px solid #d3d3d3; text-indent: 2%; font-size:26px; color: #1c1c1c; }
.captcha { width: 99.68%; height: 63px; float: left; margin-top: 18px; border: 1px solid #d3d3d3; background:url(../img/captchaBg.png) repeat; }
.demoSubmit { padding: 0 74px 0 68px; height: 90px; line-height: 90px; color: #fff; font-size:34px; font-weight:bold; border-radius: 10px; margin-top:48px;
background: #b4cc55; /* Old browsers */
background: -moz-linear-gradient(top, #b4cc55 0%, #2c4906 99%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b4cc55), color-stop(99%,#2c4906)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #b4cc55 0%,#2c4906 99%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #b4cc55 0%,#2c4906 99%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #b4cc55 0%,#2c4906 99%); /* IE10+ */
background: linear-gradient(to bottom, #b4cc55 0%,#2c4906 99%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b4cc55', endColorstr='#2c4906',GradientType=0 ); /* IE6-9 */
}
.demoSubmit img { margin-right:7px; }
.inputLineCheckGroup div { margin-top:36px; }
.requered { border-right: 5px solid #F00 !important; }


/*CONTACT*/
.contactSend { padding: 0 74px 0 68px; height: 90px; line-height: 90px; color: #fff; font-size:34px; font-weight:bold; margin-top:48px; 
background: #b4cc55; /* Old browsers */
background: -moz-linear-gradient(top, #b4cc55 0%, #2c4906 99%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b4cc55), color-stop(99%,#2c4906)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #b4cc55 0%,#2c4906 99%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #b4cc55 0%,#2c4906 99%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #b4cc55 0%,#2c4906 99%); /* IE10+ */
background: linear-gradient(to bottom, #b4cc55 0%,#2c4906 99%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b4cc55', endColorstr='#2c4906',GradientType=0 ); /* IE6-9 */
}
.inputLineAdress .contact_adress, .inputLineAdress .contact_telephone { margin-top:10px; font-size: 26px; line-height:36px; color: #3c3c3c; }
.contact_telephone { margin-top:12px; height: 32px; line-height:30px; background:url(../img/call_icon_small.png) left center no-repeat; padding-left:42px; display:block; color: #3c3c3c; }
.contact_telephone a { color: #3c3c3c; }
.inputLine textarea { width: 97%; height:124px; max-width: 97%; padding: 16px 0 15px 2%; margin: 0; font-size: 24px; border: 1px solid #d3d3d3; }
.contactEmails ul li { width: 33%; margin-right:0.5%; margin-bottom:0.5%; background: url(../img/contactMailIcon.png) center 48px no-repeat #f3f3f3; font-size:20px; height: 104px; padding-top:20px; float: left; text-align:center;   }
.contactEmails ul li:last-child { margin-right:0; }
.contactEmails ul li a { width: 100%; height: 100%; display:block; color: #163e6a; }






