@media (min-width: 1200px) {
	.container {
		width: 1200px;
	}
}

@media only screen and (min-device-width: 250px) and (max-device-width: 320px) and (orientation:portrait) {
    .full-login-background {
	    min-width: 353px;
	}
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1025px) and (orientation:portrait) {
    .collector {
	    height: calc(100vh - 871px);
	}

	.main-content-area.padding-top-xxlg {
	    padding-top: 15px !important;
	}

	.main-content-area .video-area {
        margin-bottom: 15px;
	}

	.main-content-area .video-area h1, .main-content-area .video-area p {
        padding: 0 20px;
	}

	.container .top-field {
		padding: 0 20px;
	}

	.container .form-area {
		margin: 0 auto !important;
		min-width: 550px;
	}
}

@media only screen and (min-device-width: 768px) {
    .hidden-xs.hidden-sm {
    	display: block !important;
    }

    body .hidden-sm {
		display: block !important;
    }

    .footer-area.hidden-xs.hidden-sm {
	    display: flex !important;
	}
}

@media only screen and (min-device-width: 540px) and (max-device-width: 769px) and (orientation:landscape
	) {
    .main-content-area.padding-top-xxlg {
	    padding-top: 15px !important;
	}

	.main-content-area .video-area {
        margin-bottom: 15px;
	}

	.main-content-area .video-area h1, .main-content-area .video-area p {
        padding: 0 20px;
	}

	.container .top-field {
		padding: 0 20px;
	}

	.container .form-area {
		margin: 25px auto 0 !important;
		min-width: 325px;
	}
}

@media (max-width: 680px) {
    .main-content-area.padding-top-xxlg {
	    padding-top: 15px !important;
	}

	.main-content-area .video-area {
        margin-bottom: 15px;
	}

	.main-content-area .video-area h1, .main-content-area .video-area p {
        padding: 0 20px;
	}

	.container .top-field {
		padding: 0 20px;
	}

	.container .form-area {
		margin: 25px auto 0 !important;
		min-width: 325px;
	}
}

