<section class="container-fluid font--gotham">
    <article class="row">
        <div class="col no--padding">
            <app-header></app-header>
        </div>
    </article>

    <article class="row app-content">
        <app-alert></app-alert>

        <main class="col no-padding areaAbsorber portfolio">
            <router-outlet></router-outlet>

            <section class="content">
                <article class="info-container">
                    <h2><small>portfolio</small><br> Osman Fikret Ceylan</h2>

                    <p class="margin-top-md">
                        You can see some of my work under the categories.
                        <br> Just click on the work that you want to review.
                    </p>
                </article>

                <article class="menu-container">
                    <button
                        class="menu-element"
                        (click)="filterIsotope('.mail')">MAILING</button>

                    <button
                        class="menu-element"
                        (click)="filterIsotope('.landing-page')">LANDING PAGE</button>

                    <button
                        class="menu-element"
                        (click)="filterIsotope('.micro')">MICRO SITE</button>

                    <button
                        class="menu-element"
                        (click)="filterIsotope('.photoshop')">GRAPHIC DESIGN</button>

                    <button
                        class="menu-element"
                        (click)="filterIsotope('.html')">HTML</button>

                    <button
                        class="menu-element"
                        (click)="filterIsotope('.wordpress')">WORDPRESS TEMPLATE</button>

                    <button
                        class="menu-element active"
                        (click)="filterIsotope('*')">ALL</button>
                </article>

                <article class="portfolio-grid">
                    <isotope-grid
                        [options]="defaultIsotopeOptions"
                        class="portfolio-wrap row">
                        <isotope-item
                            *ngFor="let project of projects"
                            [ngClass]="project.type"
                            class="card-image item-absorber col-xs-6 col-sm-6 col-md-4 col-lg-4">
                            <a
                               class="item-link"
                               [href]="project.urlLink"
                               target="_blank">
                                <img class="img-area" [src]="project.imageLink" />

                                <div class="item-paragraph">
                                    <p>
                                        {{ project.nameEN }}
                                    </p>
                                </div>
                            </a>
                        </isotope-item>
                    </isotope-grid>
                </article>
            </section>
        </main>
    </article>
</section>
