<section class="container-fluid font--gotham">
    <div
        class="loader spinners"
        *ngIf="!isLoaded">
        <app-loading></app-loading>
    </div>

    <article class="row">
        <div class="col no--padding">
            <app-header></app-header>
        </div>
    </article>

    <article class="row app-content">
        <app-alert></app-alert>

        <main class="col no-padding areaAbsorber portfolio">
            <router-outlet></router-outlet>

            <section class="content">
                <article class="info-container">
                    <h2>
                        <small translate>main.head.small-title</small>
                        <br> Osman Fikret Ceylan
                    </h2>

                    <div class="margin-top-md">
                        <p class="no--margin" translate>main.head.info</p>
                        <p translate>main.head.sub-info</p>
                    </div>
                </article>

                <article class="menu-container">
                    <button
                        *ngFor="let filter of filters; let i = index"
                        class="menu-element"
                        [ngClass]="{'active': selectedItem === filter.className}"
                        (click)="filterIsotope('.' + filter.className)">
                        {{ workTypes[i].title }}
                    </button>

                    <button
                        class="menu-element"
                        [ngClass]="{'active': selectedItem === '*'}"
                        (click)="filterIsotope('*')">
                        {{ workTypes[6].title }}
                    </button>
                </article>

                <article class="portfolio-grid">
                    <isotope-grid
                        [options]="defaultIsotopeOptions"
                        class="portfolio-wrap row">
                        <isotope-item
                            *ngFor="let project of projects"
                            [ngClass]="project.type"
                            class="item-absorber col-xs-6 col-sm-6 col-md-4 col-lg-4">
                            <a
                                class="item-link"
                                [href]="project.urlLink"
                                target="_blank"
                                (click)="isGraphicDesign ? openModal($event, project.urlLink, project.nameEN) : true">
                                <img class="img-area" [src]="project.imageLink"/>

                                <div class="item-paragraph">
                                    <p>
                                        {{ project.nameEN }}
                                    </p>
                                </div>
                            </a>
                        </isotope-item>
                    </isotope-grid>
                </article>
            </section>
        </main>
    </article>
</section>
