:host {
    .app-content {
        height: calc(100vh - 56px);
        overflow-y: auto;
        position: relative;
        background-color: #f7f7f7;
        &.full-height {
            height: calc(100vh - 1px);
        }

        main {
            max-width: 1024px;
            margin: 10px auto 0;
            .portfolio {
                padding: 20px 0;
            }

            .portfolio-grid {
                margin: 0 auto auto;
                width: 100%;
                img {
                    padding: 0;
                    width: 100%;
                    float: left;
                    box-sizing: border-box;
                }
            }

            .item-absorber:hover .item-link:before,
            .item-link {
                height: 100%;
                width: 100%;
            }

            .item-link {
                display: block;
                position: relative;
                box-shadow: 0 0 9px -2px #333;
                border-radius: 10px;
                overflow: hidden;
                &:hover .item-paragraph {
                    opacity: 1;
                }
            }

            .item-absorber {
                margin-bottom: 30px;
                transition: opacity 0.8s, height 0.4s !important;
                .item-link {
                    &:before {
                        content: '';
                        position: absolute;
                        left: 0;
                        top: 0;
                        background: rgba(0, 0, 0, .1);
                        opacity: 0;
                        transition: opacity .2s ease;
                    }
                }
                &:hover {
                    .item-link {
                        &:before {
                            opacity: 1;
                        }
                    }
                }
            }

            .item-paragraph {
                position: absolute;
                bottom: 0;
                padding: 15px;
                text-align: center;
                width: 100%;
                background: rgba(0, 0, 0, .5);
                opacity: 0;
                box-shadow: 1px 1px 6px 5px rgba(0, 0, 0, .6);
                transition: all .2s ease;
                p {
                    color: #fff;
                }
            }

            .info-container {
                text-align: center;
                h1,
                h2,
                h3 {
                    padding-bottom: 14px;
                    position: relative;
                    color: #333;
                    font-weight: 300;
                    text-align: center;
                    letter-spacing: .025em;
                }
                h2 {
                    padding-bottom: 0;
                    margin: 0;
                    small {
                        font-size: 21px;
                        letter-spacing: 0.4px;
                        opacity: 0.7;
                        font-weight: 300;
                    }
                }
            }

            .menu-container {
                text-align: center;
                margin-bottom: 30px;
                .menu-element {
                    padding: 1em 1.5em;
                    display: inline-block;
                    position: relative;
                    background: #03A9F4;
                    color: #fff;
                    border: 0;
                    font-size: 12px;
                    letter-spacing: .05em;
                    cursor: pointer;
                    margin: 10px 0 0 1px;
                    transition: all 0.2s ease;
                    &:first-child {
                        border-radius: 5px 0 0 5px;
                        margin-left: 0;
                    }
                    &:last-child {
                        border-radius: 0 5px 5px 0;
                    }
                    &:hover {
                        background: #333;
                    }
                    &.active {
                        background: #333;
                        &:after {
                            margin: 0 auto;
                            width: 8px;
                            height: 8px;
                            display: block;
                            content: "";
                            position: absolute;
                            right: 0;
                            bottom: -4px;
                            left: 0;
                            background: #333;
                            transform: rotate(45deg)
                        }
                    }
                }
            }
        }
    }
}
