<section class="container-fluid font--gotham">
    <div
        class="loader spinners"
        *ngIf="!isLoaded">
        <app-loading></app-loading>
    </div>

    <article class="row app-content">
        <embed src="/assets/pdf/osman-fikret-ceylan-resume.pdf" type="application/pdf" />

        <object data="/assets/pdf/osman-fikret-ceylan-resume.pdf" type="application/pdf">
            <p>It appears you don't have a PDF plugin for this browser.
                No problem, you can still <a href="/assets/pdf/osman-fikret-ceylan-resume.pdf">download the PDF file.</a></p>
        </object>

        <iframe src="/assets/pdf/osman-fikret-ceylan-resume.pdf"
                style="position: absolute;transform: translateX(0) translateY(0);border: 0;"
                width="100%"
                height="100%"></iframe>
    </article>

</section>
