<header class="navbar navbar-expand navbar-light bg-light">
    <a class="navbar-brand">
        <span class="chuck-icon-norris d-inline-block"></span>

        <p
            class="m-0 pl-1 col d-inline-block"
            aria-label="Chuck Norris Jokes">Chuck Norris Jokes</p>
    </a>

    <div
        class="collapse navbar-collapse justify-content-end">
        <ul class="navbar-nav">
            <li
                class="nav-item"
                routerLinkActive="active">
                <a
                    class="nav-link cursor-pointer"
                    routerLink="jokes"
                    aria-label="JOKES">JOKES</a>
            </li>
        </ul>
    </div>
</header>
