.navbar {
    z-index: 2;
    background-color: #f7f7f7;

    .navbar-brand {
        p {
            font-size: 18px;
        }
    }

    .navbar-nav {
        .nav-item {
            &.active {
                .nav-link {
                    font-weight: 600;
                    color: #28a745;
                }
            }
        }
    }
}

.language-area {
    opacity: 0.5;
    transition: opacity 0.1s ease-in-out;

    &:hover {
        opacity: 1;
    }

    button {
        &:hover {
            background-color: #a9a9a9;
            color: #fff;
        }
        &.active {
            background-color: #333;
            color: #fff;
        }
    }
}
