<header class="navbar navbar-expand navbar-light">
    <section
        class="collapse navbar-collapse justify-content-end">
        <article class="navbar-nav">
            <div class="language-area text-right margin-top-lg">
                <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mr-2">
                    <span class="font-size--12 d-block">TR</span>
                </button>

                <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab active">
                    <span class="font-size--12 d-block">EN</span>
                </button>
            </div>
        </article>
    </section>
</header>
