<header class="navbar navbar-expand navbar-light">


    <div
        class="collapse navbar-collapse justify-content-end">
        <ul class="navbar-nav">
            <div class="language-area text-right margin-top-lg">
                <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mr-2">
                    <span class="font-size--14 d-block">TR</span>
                </button>

                <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab">
                    <span class="font-size--14 d-block">EN</span>
                </button>
            </div>
        </ul>
    </div>
</header>
