.navbar {
    z-index: 2;
    background-color: #f7f7f7;
    .navbar-brand {
        p {
            font-size: 18px;
        }
    }
    .navbar-nav {
        .nav-item {
            &.active {
                .nav-link {
                    font-weight: 600;
                    color: #28a745;
                }
            }
        }
    }

}
