
@font-face {
	font-family: 'Conv_MyNetIta';
	src: url('MyNetIta.eot');
	src: local('☺'), url('MyNetIta.woff') format('woff'), url('MyNetIta.ttf') format('truetype'), url('MyNetIta.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

