body{padding-bottom:40px;color:#5a5a5a;background-color:#222;font-family:'Open Sans',sans-serif}
body.inner_last{background:#fff url(../img/bodybg.jpg)}
.navbar-wrapper{position:absolute;top:0;left:0;right:0;z-index:20}
.navbar-wrapper .container{padding-left:0;padding-right:0}
.navbar-wrapper .navbar{padding-left:15px;padding-right:15px}
.carousel-caption{z-index:10}
.bx-wrapper img{margin:0 auto}
.containwr{width:100%;height:100%}
.greenline{background:#fff;width:100%;padding:50px 0;position:relative}
.tisort{margin:-28px 0 -12px}
.carousel-control.left{background:none;position:absolute;left:140px;top:1200px;opacity:1}
.carousel-control.right{background:none;position:absolute;left:200px;top:1200px;opacity:1}
.slideItemArea{position:relative}
.slideItemArea h2,.slideItemArea p{position:absolute;color:#fff}
.slideItemArea h2{left:16%;top:24%;font-size:72px;display:block;font-weight:300;line-height:67px}
.slideItemArea p{top:44%;left:16.4%;width:22%}
.download-image img,.download-thumb img{margin:0 auto}
.download-image hr{border-top:1px solid transparent}
.download-thumb{margin-bottom:15px}
.download-thumb article{margin-bottom:15px;text-align:center}
.edd_download_inner{padding:0;margin:0}
.downloads article.type-download{padding-bottom:15px}
.downloads figure{position:relative;overflow:hidden;max-width:333px;margin:0 auto}
.downloads figure img{max-width:100%;height:auto;transition:all 0.25s ease-in-out;}
.figuretext{font-family:Arial;font-size:20px;position:absolute;cursor:default;top:46%;color:#fff;display:block;text-align:center;z-index:2;width:100%;vertical-align:middle}
.figuretext p{text-align:center}
.downloads figcaption{position:absolute;top:0;left:0;padding:10px;width:100%;height:0;z-index:5;overflow:hidden;background-color:#6c0;-webkit-transition:all .2s ease-out;-moz-transition:all .2s ease-out;-o-transition:all .2s ease-out;-ms-transition:all .2s ease-out;transition:all .2s ease-out;-ms-filter:"progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";filter:alpha(opacity=0);opacity:0}
.downloads figure:hover figcaption{height:100%;-ms-filter:"progid: DXImageTransform.Microsoft.Alpha(Opacity=1)";filter:alpha(opacity=1);opacity:1}
.downloads figcaption .caption-text{cursor:default;font-size:1.1em;color:#fff;padding:10px}
.downloads figcaption a.btn,.downloads figcaption a.btn:hover{height:100%;background:#333;color:#fff;border:none}
.well{background:none;color:#333}
.large{font-size:120%}
.tisortdestekle p{font-size:20px;color:#000;margin:0;line-height:4}
strong{font-family:'Open Sans',sans-serif;font-weight:400}
.destekletisort{display:block;cursor:pointer}
h1.contheading{font-size:32px;color:#fff;margin-bottom:20px;text-align:center}
p.contsummary{font-size:14px;color:#fff;text-align:center;margin-bottom:25px}
.desteklealt{max-width: 358px;display:block;cursor:pointer;margin: 0 auto;}
.popover{max-width: 605px;    overflow: hidden;    width: 605px;    max-height: 329px;    padding: 35px 25px 20px;}
.poptop{font-size:16px;color:#adadad}
.poptop span{color:#6c0}
input[type="text"],input[type="date"],input[type="email"]{font-family:'Open Sans',sans-serif;border:1px solid #ebebeb;border-radius:0;font-size:32px;color:#adadad;text-indent:8px;width: 60%;}
label{font-family:'Open Sans',sans-serif;font-size:32px;color: #e01121;width: 40%;text-align: left}
.btn-default{background: url("../img/btn2.png") no-repeat; width: 258px;height: 61px; margin:0 auto;display: block;text-indent: -9999px;border: none;outline: none;}
.btn-default.btn-default2{background: url("../img/btn-dvm.png") no-repeat;width: 258px;height: 60px;}
.btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {background-image: url("../img/btn2.png");}
.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {color: transparent;background-color: transparent;border-color: transparent;}
.closepopover{background:url(../img/closepopover.png) no-repeat scroll top left;width:94px;height:94px;position:absolute;top:-45px;right:-40px}
.inner .navbar-wrapper{position:relative}
.inner h1.contheading{font-size:51px;color:#6c0;text-align:center}
.round-boxleft,.round-boxright{background:#fff;min-height:540px;padding:30px;border:3px solid #d5d5d5;-webkit-border-radius:10px;-moz-border-radius:10px;border-radius:10px;-moz-box-shadow:0 0 15px #d5d5d5;-webkit-box-shadow:0 0 15px #d5d5d5;box-shadow:0 0 15px #d5d5d5}
.trigger img,.round-boxright img{width:auto;margin:0 auto;display:block;max-width:100%}
.round-boxleft h1{font-family:'Open Sans',sans-serif;font-size:32px;color:#6c0;margin-top:0}
.round-boxleft p{font-size:16px;color:#adadad;margin:0}
.round-boxright h1{font-family:'Open Sans',sans-serif;font-size:24px;color:#6c0;margin-top:0}
.round-boxright p{font-size:14px;color:#adadad;margin:0}
.form-group{position:relative}
.form-group .radio-inline{font-size:16px;color:#adadad}
.tsortslabel{font-size:32px;color:#adadad;margin:0 10px 0 0}
.tshortwr .radio-inline{font-size:16px;color:#adadad;margin-top:-10px}
.inner_last{min-height:750px;width:100%;height:100%;color:#fff}
.inner_last footer{color:#fff}
.inner_last footer a{color:#fff}
h1.teskkur{font-family:'Open Sans',sans-serif;font-size:72px;color:#fff;margin-top:42%;text-shadow:1px 1px 2px rgba(50,50,50,1)}
h2.teskkur{font-family:'Open Sans',sans-serif;font-size:36px;color:#fff;text-shadow:1px 1px 2px rgba(50,50,50,1)}
.twtrpyls{margin:20px 0;display:block}
.facepyls{margin:0 0 30%;display:block}
.amount-checkbox{float:left;margin-top:12px}
#amountwr{margin-bottom:-16px;font-family:'Open Sans',sans-serif;font-size:32px;color:#adadad}
footer{color:#adadad;border-top:1px dotted;padding:30px 0 0;margin:40px 0 0}
footer a{color:#FFF}
.social a{margin-left:10px}
.closepopover{cursor:pointer}
div.error{margin-top:-32px;margin-bottom:12px}
label.error{color:orange;font-size:12px;float:left}
.errorrow{width:100%;background:orange}
.errorrow p{color:#fff;font-size:24px;padding:12px 24px;font-weight:bolder;margin-bottom:24px}
.modal-content{color:#000}
.peopleCarouselImg{max-width:1366px;width:100%;max-height:590px;min-height:590px;height:100%;background-size:contain;margin:0 auto}
.navbar-brand{cursor:default}
label,.tsortslabel,input[type="text"],input[type="date"],input[type="email"]{font-size: 14px;}
.bxslider li{background:#000}
.bx-wrapper .bx-viewport{-moz-box-shadow:0;-webkit-box-shadow:0;box-shadow:0;border:0;left:0}
.marketing{background-color:#222;clear:both;overflow:hidden}
.bx-wrapper .bx-controls-direction a{bottom:7%;top:inherit;width:45px;height:45px;opacity:.8;transition:opacity .1s ease-in-out}
.bx-wrapper .bx-prev{left:16%;background:url(../img/left.png) no-repeat}
.bx-wrapper .bx-next{left:20.5%;background:url(../img/right.png) no-repeat}
.bx-wrapper .bx-prev:hover{background-position:0 0;opacity:1}
.bx-wrapper .bx-next:hover{background-position:0 0;opacity:1}
.slideItemArea.third h2{top:19%}
.slideItemArea.third h2:before{content:"Catching Fire";top:95%;left:2px;font-size:30px;position:absolute;display:block;font-weight:300}
.slideItemArea.fourth h2{width:40%;top:15%}
.slideItemArea.fifth h2{width:30%;top:16%}
.tisortdestekle{height:100%;width:100%;float:left;display:inline-block}
a:hover,a:focus{color:#fff;text-decoration:underline}
.linksArea{margin-top:15px}
.social{width:auto;display:block}
.social a{display:block;background:url(../img/social.png) no-repeat;width:32px;height:32px;float:left}
.social .facebook{background-position:0 0}
.social .facebook:hover{background-position:0 -32px}
.social .twitter{background-position:-32px 0}
.social .twitter:hover{background-position:-32px -32px}
.paddinger{padding:0}
input#number,input#sonkul{width: 60%}
.selectionElement p{display:inline-block;margin-bottom:10px}
.aramaCheck{margin:0 auto;text-align:center;width: 100%;height:34px;}
.aramaCheck input[type=checkbox]{display:none}
.aramaCheck label:before{content:"abdul";text-align:center;line-height:34px;height:34px;width:34px;margin-right: 10px;margin-top: -5px;float:left;display:block;text-indent:-99999px;cursor:pointer;background:url("../img/checkbox.jpg") no-repeat;-moz-user-select: none;-webkit-user-select: none;-ms-user-select: none;}
.aramaCheck input[type=checkbox]:checked + label:before{background-position:center bottom}
label.checkbox {padding: 7px 0 0 0;color: #7e7e7e;height: 34px;width: 100%;margin: 0;text-align: left;float: left;margin-bottom: 20px;}
.checkbox a {color: #7e7e7e;text-decoration: underline;}
.formButton{width: 100%;display: inline-block;text-align: center}
.trigger.desteklealt img{margin-top: 30px;}
.download-image{position: relative;}
.overlay{position: absolute;width: 100%;height: 100%;display: block;background-color: rgb(0,0,0);opacity:0.65;filter: alpha(opacity=65);transition:all 0.25s ease-in-out;}
.overlay:hover{background-color: transparent;opacity:0;filter: alpha(opacity=0)}
.jefferson{width: 100%;height: 100%;transition:all 0.25s ease-in-out}
.downloads figure:hover .jefferson{transform:scale(1.2);-webkit-transform:scale(1.2);-moz-transform:scale(1.2);-o-transform:scale(1.2);-ms-transform:scale(1.2)}
.subLine{font-size: 40px;background-color: transparent;position: absolute;z-index: 3;color: #fff;top: 50%;left: 50%;margin: 0;width: 300px;margin-left: -150px;margin-top: -21px;text-align: center;cursor: default}

@media screen and (min-width: 1367px) and (max-width: 1600px) {
    .container{width:1250px}
    .bx-wrapper .bx-prev{left:13%}
    .bx-wrapper .bx-next{left:17.5%}
    .slideItemArea h2{left:13%;top: 24%;font-size:72px}
    .slideItemArea p{top: 45%;left:13.4%;width:22%}
    .destekletisort.trigger img{margin-top:0}
    .trigger img{margin-top:50px}
    .container{width:1250px}  }
@media screen and (max-width: 1367px) and (min-width: 769px) {
    .bx-wrapper .bx-prev{left:11%}
    .bx-wrapper .bx-next{left:17.5%}
    .slideItemArea h2{left:11%;top:18%;font-size:72px;font-size:50px}
    .slideItemArea p{top:42%;left:11.4%;width:39%;font-size:12px}
    .slideItemArea.third h2{left:11%;font-size:40px}
    .slideItemArea.third p{font-size:14px;width:47%;top:51%;left:11%}
    .slideItemArea.third h2:before{font-size:24px;top:58%}
    .slideItemArea.fourth h2{font-size:34px;left:11%}
    .slideItemArea.fourth p{left:11%;width:40%;font-size:14px}
    .slideItemArea.fifth h2{font-size:39px;line-height:41px;top:20%;left:11%}
    .slideItemArea.fifth p{left:11%;top:52%}
    .tisortdestekle p{line-height:1}
}
@media screen and (min-width: 1024px) and (max-width: 1266px) {
    .bx-wrapper .bx-prev{left:5%}
    .bx-wrapper .bx-next{left:11.5%}
    .slideItemArea h2{left:4%;top:22%;font-size:72px;font-size:50px;width:45%}
    .slideItemArea p{top:47%;left:4.4%;width:40%;font-size:13px}
    .slideItemArea.third h2{top:14%;left:4%}
    .slideItemArea.third p{left:4%}
    .slideItemArea.third h2:before{top:74%}
    .slideItemArea.fourth h2{font-size:39px;width:31%;line-height:47px;left:4%}
    .slideItemArea.fourth p{left:4%}
    .slideItemArea.fifth h2{font-size:40px;line-height:45px;left:4%}
    .slideItemArea.fifth p{left:4%}
    .tisortdestekle p{line-height:2}
}
@media screen and (min-width: 1266px) and (max-width: 1366px) {
    .bx-wrapper .bx-prev{left:6%}
    .bx-wrapper .bx-next{left:11.5%}
    .slideItemArea h2{left:6%;top:22%;font-size:72px}
    .slideItemArea p{top:44%;left:6.4%;width:27%;font-size:14px}
    .slideItemArea.third h2{font-size:60px;top:14%}
    .slideItemArea.third h2:before{top:99%}
    .slideItemArea.fourth h2{font-size:61px;line-height:58px;width:30%;top:13%}
    .slideItemArea.fifth h2{left:6%;font-size:60px;line-height:55px}
    .slideItemArea.fifth p{left:6.4%;font-size:14px}
    .tisortdestekle p{line-height:4}
}
@media screen and (min-width: 769px) and(max-width: 1367px) {
    .bx-wrapper .bx-prev{left:16%}
    .bx-wrapper .bx-next{left:19.5%}
    .slideItemArea h2{left:16%;top:32%;font-size:72px}
    .slideItemArea p{top:50%;left:16.4%;width:22%}
    .slideItemArea h2{left:16%;top:32%;font-size:72px;display:block}
    .slideItemArea p{position:absolute;top:50%;left:16.4%;width:22%}
    .navbar-wrapper{margin-top:20px}
    .navbar-wrapper .container{padding-left:15px;padding-right:15px}
    .navbar-wrapper .navbar{padding-left:0;padding-right:0;border-radius:4px}
    .carousel-caption p{margin-bottom:20px;font-size:21px;line-height:1.4}
    .featurette-heading{font-size:50px}
    .tisort{margin-top:0;max-width:100%}
    .greenline .row{padding-bottom:24px}
    .peopleCarouselImg{width:100%;min-height:310px;background-size:cover}
    .popover{width:280px;top:0!important;left:0!important;padding:25px 10px 20px;margin:0 10px}
    .popover input,.form-group input{width:100%}
    h1.contheading{font-size:32px!important}
    h1.teskkur{font-size:48px;text-shadow:1px 1px 2px rgba(50,50,50,1)}
    h2.teskkur{font-size:24px;text-shadow:1px 1px 2px rgba(50,50,50,1)}
    .twtrpyls img,.facepyls img{width:100%;height:auto}
    .downloads figure{position:relative;overflow:hidden;max-width:333px;margin:0 auto 10px}
    label,.tsortslabel,input[type="text"],input[type="date"],input[type="email"]{font-size:20px}
}
@media screen and (min-width: 320px) and (max-width: 768px) {
    .bx-wrapper .bx-prev{left:2%}
    .navbar-brand img{width:50%;height:50%}
    .bx-wrapper{height:400px}
    .bx-wrapper .bx-viewport{height:400px!important}
    .slideItemArea{height:400px}
    .bx-wrapper .bx-next{left:inherit;right:2%}
    .slideItemArea h2{left:4%;top:35%!important;font-size:22px;width:100%;line-height:32px;padding:0 0 0 6px}
    .slideItemArea p{left:2.4%;width:100%;font-size:12px;padding:0 15px 0 10px;top:50%}
    .slideItemArea.second p{font-size:11px;top:49%}
    .slideItemArea.third h2:before{left:52%;font-size:16px;top:1px}
    .slideItemArea.fourth h2{width:100%}
    .slideItemArea.fourth p{top:50%}
    .slideItemArea.fifth h2{width:100%}
    .tisortdestekle p{line-height:1}
    .destekletisort.trigger img{margin:20px auto 0}
    .popover{width: 100%;z-index: 9999999;}
}