
@font-face {
	font-family: 'Conv_MyNetSemIt';
	src: url('MyNetSemIt.eot');
	src: local('☺'), url('MyNetSemIt.woff') format('woff'), url('MyNetSemIt.ttf') format('truetype'), url('MyNetSemIt.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

