*{-webkit-font-smoothing: antialiased;-moz-font-smoothing: antialiased;o-font-smoothing: antialiased;font-smoothing: antialiased;outline:none}
body{background: rgb(250, 249, 249);font-family: 'Gotham Narrow SSm', tahoma, Arial, Helvetica, sans-serif;}
.container{max-width:1000px}
.container.mainPage{background: none repeat scroll 0 0 #FFFFFF;position: relative;padding: 0 14px;border-left: 1px solid #e7e6e6;border-right: 1px solid #e7e6e6;}

/*header*/
.headerLogoAdArea .sporLogo{max-width:230px;float: left;margin: 30px 0 0;}
.headerLogoAdArea .sporLogo a{width: 190px!important;height:59px!important;left:0!important;top:0!important;display:block!important;position: relative!important;text-indent:-9999px!important;background: #fff url(http://img3.mynet.com.tr/myheader/my-logo.gif) no-repeat 0 0;}
.headerLogoAdArea .sporLogo a .oSpor{width: 59px !important;height: 32px !important;position: absolute !important;left: 97px !important;top: 10px !important;display: block !important;text-indent: -9999px !important;background: #fff url(//img3.mynet.com/myheader/service-logo.gif?v=11) no-repeat 0 -104px !important;}
.headerLogoAdArea .sporLogo a .logoHeader{ font-size: smaller;margin: 0;position: absolute; left: 57px; bottom: 4px;width: auto;display: block;color: #1f4f82;text-indent: 0}
.headerLogoAdArea .sporHeaderAd{max-width:728px;float: left;margin:15px 0}
.glyphicons.glyphicon-home{padding: 13px 0;background-color:#3C7E6A!important;text-shadow: none!important}
.glyphicons.glyphicon-home:before{position: inherit;margin: 0 3px 0;color:#fff;}
.navbar{margin-bottom:0}
.navbar-header{background-color: #7EC3AE;}
.navbar-default{border-radius: 0;border: none}
.navbar-default .navbar-nav>li>a{padding-right: 14px; padding-left: 13px;}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus{border-right: 1px solid #fff}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus{color:#fff;background-color: #3C7E6A}
.navbar-default .navbar-collapse, .navbar-default .navbar-form,.navbar-collapse.collapse{background-color: #32B38C}
.navbar-default .navbar-nav>li>a{color: #fff;text-shadow: 1px 1px 3px #646464;position: relative;}
.header-sub-menu{display: none}
.header-sub-menu li a{color: #fff;text-decoration: none;padding: 5px 10px;display: block;}
.header-sub-menu li a:hover{background-color: #7EC3AE;color: #474747;}
.navbar-nav>li:hover .header-sub-menu{display: block;position: absolute;width: 200px;list-style: none;padding: 0;background-color: #3C7E6A;z-index: 999}
.navbar-nav>li:hover .header-sub-menu.rightModifier{right: 0;width: 145px;}
.navbar-nav>li:hover .header-sub-menu.leftModifier{width: 130px;}
.mouseOverStatus{background-color:#3C7E6A}
.navbar-default .navbar-nav .open .dropdown-menu>li>a{color:#fff}
.dropdown-menu>li>a{background-color: #3C7E6A}
.navbar-default .navbar-nav .open .dropdown-menu>li>a:hover, .navbar-default .navbar-nav .open .dropdown-menu>li>a:focus{color:#fff}
.navbar-nav .open .dropdown-menu,.dropdown-menu{border-radius: 0;border: 0;background-color: #3C7E6A;}
.subImageMenu .nav-justified>li>a{padding:0;border: none;background-color: transparent;}
.subImageMenu .navbar-collapse.collapse{background-color: transparent}
.subImageMenu .bigImgMenu{display: inline-block;text-align: center;width: 100%;}
.subImageMenu .bigImgMenu .bigImgMenuAbs{max-width: 932px;margin: 5px auto 0;}
.subImageMenu .bigImgMenu li{float:left}
.smallImgMenu li.dropdown.open a,.smallImgMenu .dropdown-toggle{width: 100%;display: block;}
.smallImgMenu .open>.dropdown-menu{background-color: #FFF;z-index: 999;position: relative;}
.smallImgMenu .open>.dropdown-menu li{float: left;}
.smallImgMenu .open>.dropdown-menu>li>a{background-color: transparent}
.smallImgMenu .open>.dropdown-menu li{float: left;display: block;width: auto;}
.smallImgMenu .dropdown-toggle{background-color: #ececec;padding: 10px;color: #3C7E6A;font-weight: 700;text-decoration: none;}
.subTextMenu .lastSubTextMenu{max-width: 970px;  margin: 0 auto;}
.subTextMenu .lastSubTextMenu .lastSubTextMenuAbs{width: 100%;  display: inline-block;  text-align: center;}
.subTextMenu .lastSubTextMenu .lastSubTextMenuAbs li{display: inline-block;border-right: 1px solid #efefef;margin-bottom: 5px;}
.subTextMenu .lastSubTextMenu .lastSubTextMenuAbs li:last-child{border-right:none;}
.subTextMenu .lastSubTextMenu .lastSubTextMenuAbs li a{font-size: smaller;padding: 6px;color: #333;}
.cycle-slideshow{padding:0}
.cycle-slideshow .slideTextElement{text-align:center;width:100%;top:10px!important;}
.cycle-slideshow .scoreAreaAbs{max-width:320px;width:auto;margin:0 auto}
.cycle-slideshow .scoreAreaAbs a{display:block;width:100%;height:100%;overflow:hidden}
.cycle-slideshow .scoreAreaAbs a .firstScorer,.cycle-slideshow .scoreAreaAbs a .secondScorer{color:#666;margin:0;line-height:2;font-weight:700;width:37%;display:inline-block}
.cycle-slideshow .scoreAreaAbs a .scoreArea{background-color:#32B38C;padding:5px;color:#fff;border-radius:4px;margin:0 10px;width:15%;display:inline-block}
.liveScoreArea{padding: 10px;background-color: #efefef;max-height: 50px;overflow: hidden;}
.removePadding{padding: 0}
.liveSelectionArea .liveMatchScoresLinks .dropdown-menu{background-color: #D2D2D2;}
.liveSelectionArea .liveMatchScoresLinks .btn .caret{margin-left: 15px;}
.liveSelectionArea .liveMatchScoresLinks a{border-radius: 0;border: none;padding: 15px 0;background-color: #efefef;border-right: 1px solid #CFCFCF;color:#32B38C;font-weight: 700}
.liveSelectionArea .liveMatchScoresLinks a.glyphicons:before{color: #3C7E6A;margin: 12px 0 0 15px;text-shadow: 1px 1px 0 #FFF}
.liveSelectionArea .liveMatchScoresLinks .dropdown-menu a{padding:10px;max-width: 200px;height: auto;white-space: normal;font-weight:400;color:#333;background-color: #D2D2D2;}
.liveSelectionArea .liveMatchScoresLinks .dropdown-menu a:hover{background-color: #7EC3AE}
.rightFooterArea .logoBasedFonts .glyphicons.soccer_ball:before{animation-name:tossing;-webkit-animation-name:tossing;animation-duration:3s;-webkit-animation-duration:3s;animation-iteration-count:infinite;-webkit-animation-iteration-count:infinite;}
@keyframes tossing {
    0%{transform:rotate(0deg)}
    100%{transform:rotate(-360deg)}
    }
@-webkit-keyframes tossing {
    0%{transform:rotate(0deg)}
    100%{transform:rotate(-360deg)}
    }
.liveSelectionArea .liveMatchScoresLinks a.glyphicons:before{animation-name:pulse;-webkit-animation-name:pulse;animation-duration:1.5s;-webkit-animation-duration:1.5s;animation-iteration-count:infinite;-webkit-animation-iteration-count:infinite;}
@keyframes pulse {
    0%{transform:scale(0.9);opacity:.7}
    50%{transform:scale(1.1);opacity:1}
    100%{transform:scale(0.9);opacity:.7}
    }
@-webkit-keyframes pulse {
    0%{-webkit-transform:scale(0.95);opacity:.7}
    50%{-webkit-transform:scale(1.1);opacity:1}
    100%{-webkit-transform:scale(0.95);opacity:.7}
    }
.caret{border-top: 8px solid;border-right: 5px solid transparent;border-left: 5px solid transparent;margin-bottom: 3px;}
/*header END*/

/*index*/
.topNewsAbsorber {overflow: hidden;margin: 0 0 20px;}

.newsStandAbs{margin:20px 0 0;width: 100%;height: 100%;overflow: hidden;}
.newsStandAbs .topNewsAbsorber {overflow: hidden;margin:20px 0 0}
.newsStandAbs .middleNews .topNewsAbsorber {overflow: hidden;margin: 15px 0 0;}

.topNewsAbsorber img{min-width: 100%;}
.topNewsAbsorber a{text-decoration: none}
.topNewsAbsorber article .elementAbsorber{border:none;padding:0;width: 99%;height: 100%;margin-bottom:1%;float: left;overflow: hidden;position: relative;}

.leftNewsArea .topNewsAbsorber article .elementAbsorber{background-color: #ececec}

.topNewsAbsorber article .elementAbsorber a p{position:absolute;z-index:2;color:#fff;bottom:0;width: 100%;margin:0;padding:5%;height:auto;font-size: medium;line-height: 1;text-align:left;text-shadow:1px 1px 1px #000;font-weight: 700;}
.topNewsAbsorber article .elementAbsorber a h2{position:absolute;z-index:2;color:#fff;bottom:0;width: 100%;margin:0;padding:5%;height:auto;font-size: medium;line-height: 1;text-align:left;text-shadow:1px 1px 1px #000;font-weight: 700;}
.topNewsAbsorber article .elementAbsorber a span{position:absolute;z-index:2;color:#fff;bottom:0;width: 100%;margin:0;padding:5%;height:auto;font-size: medium;line-height: 1;text-align:left;text-shadow:1px 1px 1px #000;font-weight: 700;}
.topNewsAbsorber.rightLongPic article .elementAbsorber a h2{font-size: x-large;text-align: right;}
.topNewsAbsorber.rightLongPic article:hover .elementAbsorber a h2{color:#32B28B;text-shadow: 1px 1px 1px #333}

.leftNewsArea .topNewsAbsorber article .elementAbsorber a p{position: relative;color: #818181;display: block;text-shadow:1px 1px 1px #fff;bottom:0;min-height: 55px;max-height: 55px;height: auto;margin-bottom: 2px;font-weight: 400;font-size: smaller;}
.leftNewsArea .topNewsAbsorber article:hover .elementAbsorber a p{background-color: #32B28B;color: #fff;text-shadow: none;}

.topNewsAbsorber article .elementAbsorber a:hover{opacity:1}
.topNewsAbsorber article{overflow:hidden;padding: 0;}

.leftNewsArea .topNewsAbsorber article .elementAbsorber a .imgLimiter{position: relative}

.topNewsAbsorber article .elementAbsorber a .imgLimiter{overflow:hidden;max-height: 150px;}
.topNewsAbsorber.rightLongPic article .elementAbsorber a .imgLimiter{max-height: 384px;}
.topNewsAbsorber article .elementAbsorber a i.overlayAbsorber,.otherNewsAbs .otherNewsElement a .imgAreaLimiter .overlayAbsorber,.overlayAbsorberTrigger{display:block;background:-moz-linear-gradient(top,rgba(0,0,0,0.1) 53%,rgba(0,0,0,.5) 100%);background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,rgba(0,0,0,0)),color-stop(100%,rgba(0,0,0,.5)));background:-webkit-linear-gradient(top,rgba(0,0,0,0.1) 53%,rgba(0,0,0,.5) 100%);background:-ms-linear-gradient(top,rgba(0,0,0,0.1) 53%,rgba(0,0,0,.5) 100%);background:linear-gradient(to bottom,rgba(0,0,0,0.1) 53%,rgba(0,0,0,.5) 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000',endColorstr='#a6000000',GradientType=0);position:absolute;width: 100%;height:100%;top:0;opacity:1;filter:alpha(opacity=100);}

.topNewsAbsorber article .elementAbsorber a:hover i.overlayAbsorber{opacity:0}

/*flex slider ana sayfa*/
.leftSection .mainTopSlider .flexslider-spor{width: 100%;height: auto;overflow:hidden;margin: 0 0 10px 0;max-height: 500px;position: relative;}
.leftSection .mainTopSlider .flexslider-spor .flex-viewport{width: 100%;height: auto;position:relative;overflow:hidden}
.leftSection .mainTopSlider .flexslider-spor .flex-control-thumbs{width: 100%;height: auto;display: flex;margin: 3px 0 0px;-webkit-overflow-scrolling: touch;max-height: 34px;}
.leftSection .mainTopSlider .flexslider-spor .flex-control-thumbs li{display:block;width: auto;max-width: 10%;height: auto;max-height: 34px;min-height: 34px;margin: 0;cursor:pointer;overflow: hidden;position:relative;margin-right: 3px;}
.leftSection .mainTopSlider .flexslider-spor .flex-control-thumbs li:last-child{margin-right: 0}
.leftSection .mainTopSlider .flexslider-spor .flex-control-thumbs li a{display: block;width:100%;height: 100%;cursor:pointer}
.leftSection .mainTopSlider .flexslider-spor .flex-control-thumbs li a img{width: auto;height: auto;max-width: 100%;max-height: 59px;cursor: pointer;opacity:1}
.leftSection .mainTopSlider .flexslider-spor .flex-viewport ul{display:block}
.leftSection .mainTopSlider .flexslider-spor .flex-viewport li{position:relative;width: 100%;height: auto;overflow:hidden}
.leftSection .mainTopSlider .flexslider-spor .flex-viewport li a{display: block;width:100%;height:100%}
.leftSection .mainTopSlider .flexslider-spor .flex-viewport li a img{height: auto;overflow: hidden;max-width: 100%;min-width: 100%;min-height: 358px;display: block}
.leftSection .mainTopSlider .flexslider-spor .flex-viewport li span{position:absolute;font-size:22px;background: rgba(0,0,0,0.5);text-shadow: 1px 1px 1px #000;line-height: 22px;width:510px;height: auto;padding: 0 10px;display:block;color:#fff;left:0;bottom: 0;overflow:hidden;margin:0!important}
.leftSection .mainTopSlider .flexslider-spor .flex-viewport li a span{font-weight:700;width: 100%;padding: 20px;box-sizing: border-box;}
.leftSection .mainTopSlider .flexslider-spor .flex-viewport li a span{font-weight:700;width: 100%;padding: 20px;box-sizing: border-box;}
.leftSection .mainTopSlider .flex-direction-nav a{margin:0;top: 40%}
.leftSection .mainTopSlider:hover .flex-direction-nav a{opacity:1}
.leftSection .mainTopSlider .flex-direction-nav .flex-next{right: 5px}
.leftSection .mainTopSlider .flex-direction-nav .flex-prev{left: 5px}
.leftSection .mainTopSlider:hover .flex-direction-nav .flex-next{right:20px}
.leftSection .mainTopSlider:hover .flex-direction-nav .flex-prev{left:20px}
/*flex slider ana sayfa END*/

/*video tab*/
.tabVideoPanel{min-height: 212px;max-height:400px;overflow:hidden;margin-top: 20px;border-bottom: 1px solid #D5D5D5;}
.tabVideoPanel .tabListArea{text-align: center;}
.tabVideoPanel .tabListArea li{}
.tabVideoPanel .tabListArea li a{color: #333;border-radius: 0;border-right: 1px solid #ececec;}
.tabVideoPanel .tabListArea li.active a{background-color: #32B28B;color: #fff}
.tabVideoPanel .tab-content{width: calc(100% - 1px);}
.tabVideoPanel .tab-content .tabElement{height: auto;overflow: hidden;position: relative;margin-top: 10px}

.leftSection .middleCarousel .carouselAreaAbs{width:100%;overflow:hidden;position: relative;}
.leftSection .middleCarousel .carouselAreaAbs .slides{overflow:hidden}
.leftSection .middleCarousel .carouselAreaAbs .slides .carouselElement{position:relative;min-width:212px; margin-right:0}
.leftSection .middleCarousel .carouselAreaAbs .slides .carouselElement a{text-decoration:none}
.leftSection .middleCarousel .carouselAreaAbs .slides .carouselElement a p{position:relative;top:0;padding:10px;width:100%;box-sizing:border-box;margin:0;height:auto;min-height: 60px;text-align:center;color: #333;font-weight: 500;}
.leftSection .middleCarousel .carouselAreaAbs .slides .carouselElement:hover a p{background-color: #32B28B;color:#fff}
.leftSection .middleCarousel .carouselAreaAbs .slides .carouselElement a i{color:#fff;padding: 23px;position:absolute;top: 3%;left: 3%;opacity: 0.5;filter: alpha(opacity=50);}
.leftSection .middleCarousel .carouselAreaAbs .slides .carouselElement a i:before{color:#fff;font-size:xx-large;text-shadow:1px 1px 1px #292929;}
.leftSection .middleCarousel .carouselAreaAbs .slides .carouselElement:hover a i{opacity:0.7;filter:alpha(opacity=70)}
.leftSection .middleCarousel .carouselAreaAbs .slides .carouselElement:hover a i:before{color:#fff;top: 37px;left: 80px;}
.leftSection .middleCarousel .carouselAreaAbs .flex-control-nav{display:none}
.leftSection .middleCarousel .carouselAreaAbs .flex-direction-nav{}
.leftSection .middleCarousel .carouselAreaAbs .flex-direction-nav li{}
.leftSection .middleCarousel .carouselAreaAbs .flex-direction-nav li a{top:35%}
/*video tab END*/

/*galeri tab*/
.tabGalleryPanel{min-height: 212px;max-height:400px;float:left;margin-top: 20px;border-bottom: 1px solid #D5D5D5;}
.tabGalleryPanel .tabListArea{text-align: center;}
.tabGalleryPanel .tabListArea li{}
.tabGalleryPanel .tabListArea li a{color: #333;border-radius: 0;border-right: 1px solid #ececec;}
.tabGalleryPanel .tabListArea li.active a{background-color: #32B28B;color: #fff}
.tabGalleryPanel .tab-content{width: calc(100% - 1px);}
.tabGalleryPanel .tab-content .tabElement{height: auto;overflow: hidden;position: relative;margin-top: 10px}
/*galeri tab END*/

/*news area*/
.newsHeadAbs{background-color: #ececec;padding:10px;overflow:hidden;border-top:2px solid #32b38c}
.newsHeadAbs .newsHead{display:inline-block;float:left;font-size:large;width:auto;margin:0;color:#32b38c}
.newsHeadAbs i.glyphicons.sort{float:left;display:block;padding:0;margin:0;padding-right:40px;height:25px}
.newsHeadAbs i.glyphicons.sort:before{color:#32b38c}
/*news area END*/

/*search*/
.searchArea{}
.searchArea input{border-radius: 0;height: 38px;line-height: 38px;color:#35B48D;font-weight: 400;}
.searchArea span.input-group-btn{}
.searchArea span button{border-radius: 0;background-color: #EFEFEF}
.searchArea span button:hover{background-color: #32B38C}
.searchArea span button span{padding: 0;margin: 0;width: 30px;height: 24px;}
.searchArea span button span:before{padding: 0;margin: 0;color:#32B38C}
.searchArea span button:hover span:before{color:#fff}
.searchArea .form-control:focus{border-color: #32B38C;outline: 0;-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(40, 142, 73, 0.6);box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(40, 142, 73, 0.6);}
/*search END*/

.leftPaddingStabilizer{padding-left: 5px;}
.rightSection{min-width: 300px}
.rightSection .adArea300x250{width: 300px;margin:20px auto 0;}

/*buyuk takimlar*/
.rightSection .bigImgMenuAbs{width: 100%;margin:0 auto}
.rightSection .bigClubs{border: 1px solid #ececec;padding: 10px 0;margin: 20px 0;}
.rightSection .bigImgMenuAbs li{float:left;width: 20%;border-right: 1px solid #ececec;}
.rightSection .bigImgMenuAbs li:last-child{border-right:none}
.rightSection .bigImgMenuAbs li a{display: inline-block;width:100%;height: 100%;text-align: center;}
.rightSection .bigImgMenuAbs li img{margin:0 auto}
/*buyuk takimlar END*/

/*share area*/
.rightSection .shareArea div .social:before{position:inherit;padding:0;display:block;margin:0;text-align:center;font-size:42px;width:46px;line-height:46px}
.rightSection .shareArea div a.btn:active,.rightSection .shareArea div a.btn.active{box-shadow:none}
.rightSection .shareArea div a{background-color:transparent;border:none;border-radius:0;text-decoration:none;border-right: 1px solid #ECECEC;}
.rightSection .shareArea div a:last-child{border-right:none}
.rightSection .shareArea div a.btn-default:focus,.rightSection .shareArea div a.btn-default.focus,.rightSection .shareArea div a.btn-default:active,.rightSection .shareArea div a.btn-default.active,.rightSection .shareArea div a.open>.dropdown-toggle.btn-default{background-color:transparent;border-color:#fff}
.rightSection .shareArea div a span:before{color:#7C7C7C}
.rightSection .shareArea div a span{padding:0}
.rightSection .shareArea div a:hover span:before{text-shadow:1px 1px 1px #292929;transform: scale(1.5);}
.rightSection .shareArea div a:hover span.facebook:before{color:#45619D}
.rightSection .shareArea div a:hover span.twitter:before{color:#55acee}
.rightSection .shareArea div a:hover span.google_plus:before{color:#DD4B39}
/*share area END*/

/*puan durumu fixture*/
.tabMatchResultsPanel{overflow:hidden;border: 1px solid #E2E2E2;background-color: #F3F3F3;max-width: 313px;margin: 20px auto 0;}
.tabMatchResultsPanel.topStabilizer{ margin-top: 0;}
.tabMatchResultsPanel .tabListArea{text-align: center;}
.tabMatchResultsPanel .tabListArea li{}
.tabMatchResultsPanel .tabListArea li a{color: #333;border-radius: 0;border-right: 1px solid #ececec;border-bottom: none;}
.tabMatchResultsPanel .tabListArea li.active a{background-color: #32B28B;color: #fff}
.tabMatchResultsPanel .tab-content .tabElement .nav-tabs>li.active>a,.tabMatchResultsPanel .tab-content .tabElement .nav-tabs>li.active>a:hover,.tabMatchResultsPanel .tab-content .tabElement .nav-tabs>li.active>a:focus{border-radius: 0;background-color: #32B28B;color: #fff;}

.puanDurumHafta table tbody tr td b{color: #32B28B;}
.skorBaslik ul li.ui-tabs-active a{background:#f3f3f3;color:#9fa6a4}
.skorBaslik ul li:last-child{background:none!important}
.skorLigler{display:block;padding-bottom:4px;margin:0 2px}
.skorLigler ul{display:block;margin: 8px auto 0;width:100%;overflow:hidden;padding:0;}
.skorLigler ul li{float:left;display:inline-block;padding-right: 0;margin-right: 0;padding-right:9px\9;}
.skorLigler ul li a{padding: 7px 7px 7px 6px}
.skorLigler ul li a:hover{background-color: #D5D5D5;border-radius: 0}
.skorLigler ul li:last-child{border-right:none}
.skorLigler ul li a{display:inline-block;font-weight:400;color:#32b38c}
.skorLigler ul li a:hover{color:#15764d}
.skorLigler ul li a.select{color:#15764d}
.skorLigler ul li:last-child{background:none!important;margin-right:0;padding-right:0}
.puan{margin-top:1px;padding:0 4px;overflow:hidden}
.puan .puanTablo{margin-top:1px;color:#fff}
.puan .puanTablo tr th{padding:3px 14px 3px 0;border-bottom:1px solid #fff;background:#32B28B}
.puan .puanTablo tr td{padding:3px 14px 3px 0;font-size:11px;color:#383e3c}
.puan .puanTablo tr td.groupName{width: 224px}
.puan .puanTablo tr.asari td{background:#fff}
.puan .puanTablo tr.ksari td{background:#f3f3f3}
.fikstur{margin-top:1px;padding:0 4px}
.fikstur h4{padding:3px;margin-bottom:4px;font-size:11px;background:#4A4A4A;color:#fff;font-weight:700}
.fikstur .fiksturTablo{margin-top:1px;color:#fff}
.fikstur .fiksturTablo tr th{padding:2px 14px 2px 0;border-bottom:4px solid #fdc500;background:#4a4a4a}
.fikstur .fiksturTablo tr td{padding:2px 14px 2px 0;border-bottom:1px solid #fdc500;font-size:11px;color:#333}
.fikstur .fiksturTablo tr.asari td{background:#feefbc}
.fikstur .fiksturTablo tr.ksari td{background:#fee89b}
.fikstur .fiksturTablo tr.kirmizi td{color:#c00}
.fikstur .fiksturTablo tr.yesil td{color:#347c49}
.fikstur .fiksturTablo tr td span{display:inline-block;padding:0 5px;font-weight:700}

.puanDurumTab{display:block;height:30px}
.puanDurumTab li{float:left;display:inline-block;height:30px}
.puanDurumTab li a{float:left;display:inline-block;height:30px;line-height:30px;padding:0 20px;color:#fff;font-weight:700;text-align:center;text-decoration:none}
.puanDurumLigler{display:block;height:18px;margin:5px;padding-bottom:5px;margin-bottom:0}
.puanDurumLigler li{float:left;display:inline-block;height:18px}
.puanDurumLigler li a{float:left;display:inline-block;height:18px;line-height:18px;padding:0 13px;font-weight:700;text-decoration:none}
.puanDurumLigler li{background:none}
.puanDurumTakim,.puanDurumHafta{padding: 0;margin-top: 0;}
.puanDurum table tr td,.puanDurum table tr th{padding:3px}
.puanDurum table tr td{font-size:11px}
.puanDurum table tr td strong{font-size:12px;color: #32B28B;}
.puanDurum table tr th{font-size:12px}
.puanDurum.sampiyonlar .puanDurumLigler{background:url(http://s.mynet.com/spor/images/puan/s_l_bg_x.jpg) repeat-x left bottom}
.puanDurum.sampiyonlar{background:#2d7ce2}
.puanDurum.sampiyonlar .puanDurumTab{background:url(http://s.mynet.com/spor/images/puan/s_tab_bg.jpg) repeat-x}
.puanDurum.sampiyonlar .puanDurumTab li a:hover,.puanDurum.sampiyonlar .puanDurumTab li a.select{background:url(http://s.mynet.com/spor/images/puan/s_tab_bg_h.jpg) repeat-x}
.puanDurum.sampiyonlar .puanDurumLigler li{background:url(http://s.mynet.com/spor/images/puan/s_l_bg.jpg) no-repeat right center}
.puanDurum.sampiyonlar .puanDurumLigler li a{color:#001b51}
.puanDurum.sampiyonlar .puanDurumLigler li:last-child{background:none}
.puanDurum.sampiyonlar table tr th{background:#001b51;color:#fff;border-bottom:3px solid #2d7ce2}
.puanDurum.sampiyonlar table tr td{background:#a8ceff;border-bottom:1px solid #2d7ce2}
.puanDurum.sampiyonlar table tr td table tr td{border:0}
.puanDurum.sampiyonlar table tr.bg td{background:#eaf3fc}
.puanDurum.uefa .puanDurumLigler{background:url(http://s.mynet.com/spor/images/puan/u_l_bg_x.jpg) repeat-x left bottom}
.puanDurum.uefa{background:#fdc500}
.puanDurum.uefa .puanDurumTab{background:url(http://s.mynet.com/spor/images/puan/u_tab_bg.jpg) repeat-x}
.puanDurum.uefa .puanDurumTab li a:hover,.puanDurum.uefa .puanDurumTab li a.select{background:url(http://s.mynet.com/spor/images/puan/u_tab_bg_h.jpg) repeat-x}
.puanDurum.uefa .puanDurumLigler li{background:url(http://s.mynet.com/spor/images/puan/u_l_bg.jpg) no-repeat right center}
.puanDurum.uefa .puanDurumLigler li a{color:#6a0a15}
.puanDurum.uefa .puanDurumLigler li:last-child{background:none}
.puanDurum.uefa table tr th{background:#6a0a15;color:#fdc500;border-bottom:3px solid #fdc500}
.puanDurum.uefa table tr td{background:#fee89b;border-bottom:1px solid #fdc500}
.puanDurum.uefa table tr td table tr td{border:0}
.puanDurum.uefa table tr.bg td{background:#feefbc}
.puanDurum.u20 .puanDurumLigler{background:url(http://s.mynet.com/spor/images/puan/u20_l_bg_x.jpg) repeat-x left bottom}
.puanDurum.u20{background:#70c3d5}
.puanDurum.u20 .puanDurumTab{background:url(http://s.mynet.com/spor/images/puan/u20_tab_bg.jpg) repeat-x}
.puanDurum.u20 .puanDurumTab li a:hover,.puanDurum.u20 .puanDurumTab li a.select{background:url(http://s.mynet.com/spor/images/puan/u20_tab_bg_h.jpg) repeat-x}
.puanDurum.u20 .puanDurumLigler li{background:url(http://s.mynet.com/spor/images/puan/u20_l_bg.jpg) no-repeat right center}
.puanDurum.u20 .puanDurumLigler li a{color:#003664}
.puanDurum.u20 .puanDurumLigler li:last-child{background:none}
.puanDurum.u20 table tr th{background:#003664;color:#fff;border-bottom:3px solid #70c3d5}
.puanDurum.u20 table tr td{background:#63b1c2;border-bottom:1px solid #70c3d5}
.puanDurum.u20 table tr td table tr td{border:0}
.puanDurum.u20 table tr.bg td{background:#b1dbe4}
.puanDurum .puanDurumLigler{background:url(http://s.mynet.com/spor/images/puan/g_l_bg_x.jpg) repeat-x left bottom}
.puanDurum{background:#f3f3f3}
.puanDurum .puanDurumTab{background:url(http://s.mynet.com/spor/images/puan/g_tab_bg.jpg) repeat-x}
.puanDurum .puanDurumTab li a:hover,.puanDurum .puanDurumTab li a.select{background:url(http://s.mynet.com/spor/images/puan/g_tab_bg_h.jpg) repeat-x}
.puanDurum .puanDurumLigler li{background:url(http://s.mynet.com/spor/images/puan/g_l_bg.jpg) no-repeat right center}
.puanDurum .puanDurumLigler li a{color:#333}
.puanDurum .puanDurumLigler li:last-child{background:none}
.puanDurum table tr th{background:#4a4a4a;color:#fff;border-bottom:3px solid #fdc500}
.puanDurum table tr td table tr td{border:0}
.puanDurum table tr.bg td{background:#fff}

#takimKadrosu{display:block;border:none;border-top:none;border-top:1px solid #e2e2e2}
#takimKadrosu #kaleci,#takimKadrosu #defans,#takimKadrosu #ortaSaha,#takimKadrosu #forvet{padding-left:30px;border-bottom:1px solid #e0e0e0}
#kaleci,#defans,#ortaSaha,#forvet{position:relative}
#kaleci .groupPosition,#defans .groupPosition,#ortaSaha .groupPosition,#forvet .groupPosition{-ms-transform:rotate(-90deg);-moz-transform:rotate(-90deg);-webkit-transform:rotate(-90deg);transform:rotate(-90deg);-ms-transform-origin:left top 0;-moz-transform-origin:left top 0;color:#32B28B;font-weight:700;height:auto;width:auto;display:block;position:absolute;left:-5px;top:35px}
#ortaSaha .groupPosition{left:-15px;top:45px}
#takimKadrosu ul{display:block;padding:20px 0}
#takimKadrosu ul li{float:left;display:inline-block;width:123px;margin-left:10px;margin-bottom:10px;color:#404040;font-size:13px}
.small-item-text{padding:2px 7px 5px}
/*puan durumu fixture END*/

/*diger haberler*/
.otherNewsAbs{overflow: hidden;margin-top:20px}
.otherNewsAbs .otherNewsElement{overflow: hidden;position: relative;margin-top: 10px;}
.otherNewsAbs .otherNewsElement a{width:100%;height:100%;display:block;text-decoration:none;position:relative}
.otherNewsAbs .otherNewsElement a h2{position: absolute;width: auto;padding: 10px;font-size: large;color: #FFF;bottom: 0;margin: 0;text-shadow: 1px 1px 1px #000;}
.otherNewsAbs .otherNewsElement a .imgAreaLimiter{height: 125px;display:block;position:relative;overflow: hidden}
.otherNewsAbs .otherNewsElement a .imgAreaLimiter img{min-width:100%;position: absolute;top: -10px;}
.otherNewsAbs .otherNewsElement:hover a .imgAreaLimiter .overlayAbsorber{opacity:0;filter:alpha(opacity=0)}
/*diger haberler END*/

/*ad area*/
.adArea300x250{width: 300px;margin:20px auto 0;overflow: hidden;}
.adArea630x200{width: 630px;margin:20px auto 0;overflow: hidden;}
/*ad area END*/

/*index END*/

/*inner pages*/
.breadcrumbAbs .breadcrumb{background-color: transparent;padding: 10px 5px 0;margin:0 0 0}
.breadcrumbAbs .breadcrumb li{}
.breadcrumbAbs .breadcrumb li a{text-decoration: none;color: #7D7D7D;}
.breadcrumbAbs .breadcrumb li.active a{color:#32B38C;font-weight: 700;}
.breadcrumbAbs hr{margin: 10px 0;}

.innerPageTopNewsAbs{overflow:hidden}
.innerPageTopNewsAbs .newsTopAbs .topTripleAbsorber article{overflow:hidden;padding:0}
.innerPageTopNewsAbs .newsTopAbs .topTripleAbsorber article .elementAbsorber{background-color:#ececec;border:none;padding:0;width:99%;height:100%;margin-bottom:1%;float:left;overflow:hidden;position:relative}
.innerPageTopNewsAbs .newsTopAbs .topTripleAbsorber article.topItem .elementAbsorber{width:100%}
.innerPageTopNewsAbs .newsTopAbs .topTripleAbsorber article .elementAbsorber a{overflow:hidden;text-decoration:none}
.innerPageTopNewsAbs .newsTopAbs .topTripleAbsorber article.topItem .elementAbsorber a .imgLimiter{max-height:100%}
.innerPageTopNewsAbs .newsTopAbs .topTripleAbsorber article .elementAbsorber a .imgLimiter{position:relative;max-height:150px;overflow:hidden}
.innerPageTopNewsAbs .newsTopAbs .topTripleAbsorber article .elementAbsorber a .imgLimiter img{min-width:100%}
.innerPageTopNewsAbs .newsTopAbs .topTripleAbsorber article.topItem .elementAbsorber a .imgLimiter h2{font-size:x-large}
.innerPageTopNewsAbs .newsTopAbs .topTripleAbsorber article .elementAbsorber a .imgLimiter h2{position:absolute;z-index:2;color:#fff;bottom:0;width:100%;margin:0;padding:15px;height:auto;font-size:medium;line-height:1;text-align:left;text-shadow:1px 1px 1px #000;font-weight:700}
.innerPageTopNewsAbs .newsTopAbs .topTripleAbsorber article .elementAbsorber a:hover i.overlayAbsorberTrigger{opacity:0;filter:alpha(opacity=0)}
.innerPageTopNewsAbs .newsTopAbs .topTripleAbsorber article .elementAbsorber a .infoAreaArticleAbs{position:relative;padding:15px}
.innerPageTopNewsAbs .newsTopAbs .topTripleAbsorber article .elementAbsorber a .infoAreaArticleAbs .timeArea{display:block;font-size:9px;color:#797979;font-style:normal}
.innerPageTopNewsAbs .newsTopAbs .topTripleAbsorber article .elementAbsorber a .infoAreaArticleAbs p{margin:5px 0 2px;height: auto;overflow:hidden;max-height: 37px;color:#818181}
.innerPageTopNewsAbs .newsTopAbs .topTripleAbsorber article:hover .elementAbsorber a .infoAreaArticleAbs{background-color:#32B28B}
.innerPageTopNewsAbs .newsTopAbs .topTripleAbsorber article:hover .elementAbsorber a .infoAreaArticleAbs p{color:#fff;text-shadow:none}
.innerPageTopNewsAbs .newsTopAbs .topTripleAbsorber article:hover .elementAbsorber a .infoAreaArticleAbs .timeArea{color:#fff}

.paginationArea{width:100%;}
.paginationArea .pagination{display: block;max-width:235px;margin: 20px auto 0;height: auto;overflow: hidden;}
.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus{background-color: #32B28B;border-color: #32B28B}
.pagination>li>a:hover, .pagination>li>span:hover, .pagination>li>a:focus, .pagination>li>span:focus,.pagination>li>a, .pagination>li>span{color:#32B28B}
/*inner pages END*/

/*footer area*/
.footerMenu{margin-bottom:10px}
.footerMenu ul{display:block;margin:0;padding:0;text-align:center}
.footerMenu ul li{display:inline;text-align:center;line-height:22px;white-space:nowrap}
.footerMenu ul li a{display:inline;color:#666;text-decoration:none;font-size:12px;padding:0 3px 0 0}
.footerMenu ul li a:hover{color: #3C7E6A;}
.footerMenu ul li a:after{content:"|";margin:0 5px 0 10px;color:#414141}
.footerMenu ul li:last-child a:after{display:none}
.footerCompany{padding-top:10px;padding-bottom:10px}
.footerCompany figure{text-align:center;font-size:12px;color:#666;margin:auto;padding:0 10px 10px 10px}
.footerCompany figure a{font-weight:bold;font-size:12px;color:#666;display:inline-block;background:0;margin:0 5px 0 0;padding:0 0 0 5px;text-decoration:none}
.footerCompany figure a:hover{text-decoration:underline}
.leftFooterArea,.rightFooterArea{padding:20px 0;border-top: 1px solid #D2D2D2;background-color: #efefef;margin-top: 3%;margin-bottom: 3%;position: relative;min-height: 138px;border-right: 1px solid #D2D2D2;}
.rightFooterArea{border-right: none}
.leftFooterArea h2,.rightFooterArea h2{color:#666;font-size:large;margin:0 0 20px}
.leftFooterArea div .social:before{position:inherit;padding:0;display:block;margin:0;text-align:center;font-size:42px;width:46px;line-height:46px}
.leftFooterArea div a.btn:active,.leftFooterArea div a.btn.active{box-shadow:none}
.leftFooterArea div a{background-color:transparent;border:none;border-radius:0;text-decoration:none;border-right:2px groove #FFF}
.leftFooterArea div a:last-child{border-right:none}
.leftFooterArea div a.btn-default:hover,.leftFooterArea div a.btn-default:focus,.leftFooterArea div a.btn-default.focus,.leftFooterArea div a.btn-default:active,.leftFooterArea div a.btn-default.active,.leftFooterArea div a.open>.dropdown-toggle.btn-default{background-color:transparent;border-color:#fff}
.leftFooterArea div a span:before{color:#7C7C7C}
.leftFooterArea div a span{padding:0}
.leftFooterArea div a:hover span:before{text-shadow:1px 1px 1px #292929;transform: scale(1.5);}
.leftFooterArea div a:hover span.facebook:before{color:#45619D}
.leftFooterArea div a:hover span.twitter:before{color:#55acee}
.leftFooterArea div a:hover span.google_plus:before{color:#DD4B39}
.removePaddings{padding:0}
.rightFooterArea .logoBasedFonts{position:absolute;top:0;left:0}
.rightFooterArea .logoBasedFonts .glyphicons{padding:0;margin:0;position:absolute}
.rightFooterArea .logoBasedFonts .glyphicons:before{padding:0;margin:0}
.rightFooterArea .logoBasedFonts .glyphicons.soccer_ball:before{font-size:40px;z-index:5;top:45px;left:33px;color:#3C7E6A}
.rightFooterArea .logoBasedFonts .glyphicons.iphone:before{font-size:120px;-ms-transform:rotate(-11deg);-webkit-transform:rotate(-11deg);transform:rotate(-11deg);left:-7px;top:7px;z-index:2;color: #3C7E6A;}
.rightFooterArea p{max-width:210px;margin:0 auto;font-size:smaller}
.rightFooterArea .qrCode{position:absolute;right:10px;top:20px;box-shadow:0 0 5px -1px #333}
.rightFooterArea .qrCode img{width:100px}
/*footer area END*/

/*general usage*/
.topNewsAbsorber article .elementAbsorber a i.overlayAbsorber,.leftFooterArea div a span:before,.leftSection .middleCarousel .carouselAreaAbs .slides .carouselElement a i:before,.leftSection .middleCarousel .carouselAreaAbs .slides .carouselElement a p,.leftNewsArea .topNewsAbsorber article .elementAbsorber a p,.topNewsAbsorber.rightLongPic article .elementAbsorber a h2,.searchArea span button,.searchArea span button span:before,.rightSection .shareArea div a span:before,.otherNewsAbs .otherNewsElement a .imgAreaLimiter .overlayAbsorber,.transitionTrigger{transition:all .15s ease-in-out;-webkit-transition:all .15s ease-in-out;-moz-transition:all .15s ease-in-out;-o-transition:all .15s ease-in-out;-ms-transition:all .15s ease-in-out;}
.liveSelectionArea .liveMatchScoresLinks a.glyphicons:before,.liveSelectionArea .liveMatchScoresLinks a.glyphicons:before,.topNewsAbsorber article .elementAbsorber a i.overlayAbsorber,.otherNewsAbs .otherNewsElement a .imgAreaLimiter .overlayAbsorber,.transitionTrigger{backface-visibility: hidden;perspective: 1000;-webkit-transform: translateZ(0);-moz-transform: translateZ(0);-ms-transform: translateZ(0);-o-transform: translateZ(0);transform: translateZ(0);-webkit-transform: translate3d(0, 0, 0);-moz-transform: translate3d(0, 0, 0);-ms-transform: translate3d(0, 0, 0);transform: translate3d(0, 0, 0);}
/*general usage END*/

/*browser fixes*/
.ie11 .subTextMenu .lastSubTextMenu .lastSubTextMenuAbs li a,.ie1 .subTextMenu .lastSubTextMenu .lastSubTextMenuAbs li a,.ie9 .subTextMenu .lastSubTextMenu .lastSubTextMenuAbs li a,.ie8 .subTextMenu .lastSubTextMenu .lastSubTextMenuAbs li a{font-size:12px}
.ie11 .leftFooterArea,.ie1 .leftFooterArea,.ie9 .leftFooterArea,.ie8 .leftFooterArea{ height: 157px;}
.ie1 .leftSection .mainTopSlider .flexslider-spor .flex-control-thumbs li a img,.ie8 .leftSection .mainTopSlider .flexslider-spor .flex-control-thumbs li a img,.ie9 .leftSection .mainTopSlider .flexslider-spor .flex-control-thumbs li a img{max-width:60px}
/*browser fixes END*/

@media screen and (min-width: 320px) and (max-width: 768px) {
    .navbar-nav>li:hover .header-sub-menu{right: 0}
    .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover, .navbar-default .navbar-nav .open .dropdown-menu>li>a:focus{color: inherit}
    .liveSelectionArea .liveMatchScoresLinks .dropdown-menu{right:0}
    .leftSection .mainTopSlider .flexslider-spor .flex-viewport li a img{min-height: 150px}
    .leftFooterArea div a span:before{transform: scale(1.5);text-shadow: 1px 1px 1px #292929;}
    .leftFooterArea div a span.facebook:before{color:#45619D}
    .leftFooterArea div a span.twitter:before{color:#55acee}
    .leftFooterArea div a span.google_plus:before{color:#DD4B39}
    .rightSection .shareArea div a span:before{transform: scale(1.5);text-shadow: 1px 1px 1px #292929;}
    .rightSection .shareArea div a span.facebook:before{color:#45619D}
    .rightSection .shareArea div a span.twitter:before{color:#55acee}
    .rightSection .shareArea div a span.google_plus:before{color:#DD4B39}
    }
@media screen and (min-width: 320px) and (max-width: 460px) {
    .liveSelectionArea .liveMatchScoresLinks a.glyphicons:before{display: none}
    .rightFooterArea .bigInfo{display:none}
    .rightFooterArea p{max-width: 70px;font-size: medium;color: #666;font-weight: 700;margin-top: 25px;}
    .leftSection .mainTopSlider .flex-direction-nav .flex-next{right: 20px}
    .leftSection .mainTopSlider .flex-direction-nav .flex-prev{left: 20px}
    .leftSection .mainTopSlider .flex-direction-nav a{top: 7%;}
    }
@media screen and (min-width: 460px){
    .smallInfo{display: none}
    }
@media screen and (min-width: 768px) and (max-width: 1199px) {
    .navbar-nav>li:hover .header-sub-menu{left: 0}
    .liveSelectionArea .liveMatchScoresLinks a.btn.btn-default.dropdown-toggle{border-right:none}
    .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover, .navbar-default .navbar-nav .open .dropdown-menu>li>a:focus{color: inherit}
    .navbar-default .navbar-nav>li>a{font-size: smaller;}
    }
@media screen and (min-width: 768px) and (max-width: 990px) {
    .rightFooterArea h2{color: #666;font-size: small;max-width: 138px;margin: 0 auto 10px;}
    }
@media screen and (min-width: 320px) and (max-width: 1199px) {
    .liveScoreArea{border-top: 1px solid #CFCFCF;}
    .rightFooterArea p{max-width: 131px;margin: -10px auto;font-size: 11px;}
    }
@media screen and (min-width: 320px) and (max-width: 990px) {
    .tabVideoPanel .tabListArea li{width: 100%;}
    .tabMatchResultsPanel .tabListArea li{width: 100%;}
    .tabGalleryPanel .tabListArea li{width: 100%;}
    .rightSection{margin-top: 20px;padding-left:10px}
    }
@media screen and (min-width: 768px) {
    .navbar-collapse.collapse{padding: 0;}
    .removePaddings.mobileControl{padding: 0}
    .mainTopSlider .flexslider-magazin:hover .flex-direction-nav .flex-prev {opacity: 1;left: 15px}
    .mainTopSlider .flexslider-magazin:hover .flex-direction-nav .flex-next {opacity: 1;right: 15px}
    .leftSection .middleCarousel:hover .flex-direction-nav .flex-prev {opacity: 1;left: 15px}
    .leftSection .middleCarousel:hover .flex-direction-nav .flex-next {opacity: 1;right: 15px}
    .topNewsAbsorber.rightLongPic article .elementAbsorber a .imgLimiter{max-height: 384px}
    }