@font-face {
    font-family: 'museo_sans100';
    src: url('fonts/MuseoSans-100-webfont.eot');
    src: url('fonts/MuseoSans-100-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/MuseoSans-100-webfont.woff') format('woff'),
         url('fonts/MuseoSans-100-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
	font-family:'Museo500';
	src:url(fonts/museo500-regular-webfont.eot);
	src:url(fonts/museo500-regular-webfont.eot?#iefix) format("embedded-opentype"), url(fonts/museo500-regular-webfont.woff2) format("woff2"), url(fonts/museo500-regular-webfont.woff) format("woff"), url(fonts/museo500-regular-webfont.ttf) format("truetype"), url(fonts/museo500-regular-webfont.svg#museo500) format("svg");
	font-weight:400;
	font-style:normal;
}
#container{float:left; width:100%; height:auto;}
#container > div{width:100%; max-width:1060px; height:auto; margin:0 auto; position:relative;}
#top{float:left; width:100%; position:relative; height:553px;}
#logo{float:left; margin-left:40px; margin-top:5px;}
#landing-post-img{position:absolute; z-index:-1; left:0px; top:0px; max-width:100%;}
#top-band{float:left; height:90px; background-color:rgba(255, 255, 255, 0.6); width:100%;}
#social{float:right; margin-right:40px; margin-top:20px;}
#social a {display:inline-block; position:relative;}
#social a:hover {-webkit-animation-name: linkQuake;	-moz-animation-name: linkQuake;
animation-name: linkQuake; -webkit-animation-duration: 0.8s; -moz-animation-duration: 0.8s;
animation-duration: 0.8s; -webkit-transform-origin:50% 50%; -moz-transform-origin:50% 50%;
transform-origin:50% 50%; -webkit-animation-iteration-count: infinite;
-moz-animation-iteration-count: infinite; animation-iteration-count: infinite;
-webkit-animation-timing-function: linear; -moz-animation-timing-function: linear;
animation-timing-function: linear;
}
#form-container{position:absolute; width:388px; height:304px; background-color:rgba(255, 255, 255, 0.8); right:25px; top:190px; border-radius:4px;}
#form-container div{float:left; width:100%; height:64px; position:relative;}
#form-container input[type="text"]{float:left; width:298px; margin-left:4px; margin-top:4px; border:none; padding:0px; border:1px solid #9b9ba0; border-radius:3px; height:62px; font-family:'museo_sans100'; font-size:18px; line-height:62px; color:#666666; padding-left:70px; padding-right:10px;}
#form-container div i{position:absolute; left:17px; font-size:35px; color:#06325b; top:18px; transition:color 0.3s ease;}
#form-container input[type="button"]{float:left; width:380px; border:none; margin-left:4px; margin-top:15px; height:60px; background:#1f478a; text-align:center; line-height:60px; font-size:21px; color:#fff; font-family:'museo_sans100'; cursor:pointer;}
#form-container input[type="button"]:hover{background-color:#295cb3;}
#chck-content{float:left; width:100%; margin-top:15px; height:auto !important;}
#chck-content a{float:left; width:17px; height:17px; background:url(../img/chck.png) no-repeat top; margin-left:11px;}
#chck-content span{float:left; margin-left:5px; font-family:'museo_sans100'; font-size:13px; color:#212121;}
#band{float:left; width:100%; height:10px; background:#091d57;}
#uzman-container{float:left; width:100%; background:url(../img/pattern.png) repeat;}
#uzman-container-left{float:left; width:55%; font-family:'Museo500'; font-size:24px; color:#1f488b; text-align:center; line-height:30px; padding-top:30px; height:248px;}
#uzman-container-right{float:left; width:45%; height:248px; text-align:center; padding-top:25px;}
#middle-content{float:left; width:100%; position:relative; margin-bottom:0px;}
#bullet{float:left; width:100%; text-align:center; padding-top:3px; position:absolute;}
#bullet-2{float:left; width:100%; text-align:center; padding-bottom:3px; position:absolute; bottom:0px;}
#middle-content-left{float:left; background:#123861; width:60%; height:430px;}
#middle-content-right{float:left; background:#18487b; width:40%; height:430px;}
#middle-content-left span{float:left; margin-left:30px; margin-top:30px; font-family:'Museo500'; font-size:18px; color:#ffffff; line-height:20px; margin-bottom:20px;}
#middle-content-left p{float:left; color:#97b0d9; font-family:'museo_sans100'; font-size:16px; clear:both; margin-bottom:5px; margin-left:60px;}
#middle-content-right span{float:left; margin-top:30px; font-family:'Museo500'; font-size:18px; color:#ffffff; margin-left:40px;}
#middle-content-right p{float:left; margin-top:3px; font-family:'museo_sans100'; font-size:18px; color:#ffffff; clear:both; margin-left:40px;}
#yb{float:left; width:100%; text-align:center; margin-top:40px;}
#footer-container{float:left; width:100%; background:url(../img/bullet-pattern.png) no-repeat center top; height:500px}
#link-content{float:left; text-align:center; margin-top:20px; width:100%;}
#link-content > div{display:inline-block;}
#link-content a{display:block; float:left; margin:0px; padding:0px; margin-right:1px;}
#link-content a img{padding:0px; margin:0px; float:left;}
#contact{float:left; height:97px; margin-top:23px; width:100%;}
#contact > div{margin:0 auto; max-width:1000px; width:100%; height:97px; background:url(../img/contact.png) no-repeat center top;}
#global-footer{float:left; width:100%; background:#ececec; height:auto;}
#global-footer-left{float:left;}
#global-footer-left img{float:left; margin-left:28px; margin-top:5px; margin-bottom:5px; margin-right:25px;}
#global-footer-left p{float:left; font-family:Arial; font-size:13px; color:#3d3d3d; width:540px; margin-top:22px;}
#global-footer-right{float:right; margin-top:20px; margin-right:30px;}
#adr-pol{float:left; width:100%;}
#adr-pol > div{margin:0 auto; max-width:1000px; width:100%; height:35px; background:#fff;}
#gp{float:left; font-family:Arial; font-size:11px; color:#3d3d3d; margin-top:11px; font-weight:bold;}
#adr{float:left; margin-left:20px; font-family:Arial; margin-top:11px; font-size:11px; color:#3d3d3d;}
#int-link{float:right; font-family:Arial; font-size:11px; color:#3d3d3d; margin-top:11px; font-weight:bold;}
#yasal-uyari{float:left; width:100%; margin-top:0px; background:#ebebeb; padding-top:15px; padding-bottom:15px;}
#yasal-uyari > div{max-width:1000px; margin:0 auto;}
#yasal-uyari > div p{float:left; font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#666666;}
#yasal-uyari > div p span{float:left; margin-right:5px; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#666666; font-weight:bold; margin-top:-1px;}
#risk-uyari{float:left; width:100%; margin-top:0px; background:#126aae; padding-top:15px; padding-bottom:15px;}
#risk-uyari > div{max-width:1000px; margin:0 auto;}
#risk-uyari > div p{float:left; font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#ffffff;}
#risk-uyari > div p span{float:left; margin-right:5px; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#ffffff; font-weight:bold; margin-top:-1px;}
.ist{float:left; height:97px; width:211px;}
.ank{float:left; height:97px; width:192px; }
.ant{float:left; height:97px; width:195px; }
.gaz{float:left; height:97px; width:203px; }
.iz{float:left; height:97px; width:199px; }

@keyframes linkQuake {
0%{transform:translate(2px,1px) rotate(0deg)}
10%{transform:translate(-1px,-2px) rotate(-1deg)}
20%{transform:translate(-3px,0px) rotate(1deg)}
30%{transform:translate(0px,2px) rotate(0deg)}
40%{transform:translate(1px,-1px) rotate(1deg)}
50%{transform:translate(-1px,1px) rotate(-1deg)}
60%{transform:translate(-3px,-2px) rotate(0deg)}
70%{transform:translate(2px,1px) rotate(-1deg)}
80%{transform:translate(-1px,-2px) rotate(1deg)}
90%{transform:translate(2px,-1px) rotate(0deg)}
100%{transform:translate(1px,-2px) rotate(-1deg)}
}
@-moz-keyframes linkQuake {
0%{-moz-transform:translate(2px,1px) rotate(0deg)}
10%{-moz-transform:translate(-1px,-2px) rotate(-1deg)}
20%{-moz-transform:translate(-3px,0px) rotate(1deg)}
30%{-moz-transform:translate(0px,2px) rotate(0deg)}
40%{-moz-transform:translate(1px,-1px) rotate(1deg)}
50%{-moz-transform:translate(-1px,1px) rotate(-1deg)}
60%{-moz-transform:translate(-3px,-2px) rotate(0deg)}
70%{-moz-transform:translate(2px,1px) rotate(-1deg)}
80%{-moz-transform:translate(-1px,-2px) rotate(1deg)}
90%{-moz-transform:translate(2px,-1px) rotate(0deg)}
100%{-moz-transform:translate(1px,-2px) rotate(-1deg)}
}
@-webkit-keyframes linkQuake {
0%{-webkit-transform:translate(2px,1px) rotate(0deg)}
10%{-webkit-transform:translate(-1px,-2px) rotate(-1deg)}
20%{-webkit-transform:translate(-3px,0px) rotate(1deg)}
30%{-webkit-transform:translate(0px,2px) rotate(0deg)}
40%{-webkit-transform:translate(1px,-1px) rotate(1deg)}
50%{-webkit-transform:translate(-1px,1px) rotate(-1deg)}
60%{-webkit-transform:translate(-3px,-2px) rotate(0deg)}
70%{-webkit-transform:translate(2px,1px) rotate(-1deg)}
80%{-webkit-transform:translate(-1px,-2px) rotate(1deg)}
90%{-webkit-transform:translate(2px,-1px) rotate(0deg)}
100%{-webkit-transform:translate(1px,-2px) rotate(-1deg)}
}

@media screen and (max-width:1070px) {
#form-container{top:140px;}
}
@media screen and (max-width:1020px) {
#link-content > div a{width:14.1%;}
#link-content > div a img{width:100%;}
#contact > div{background:url(../img/contact-mobil.png) no-repeat center; height:273px;}
#contact {height:273px; background:#666666;}
.ist{float:left; height:93px; width:100%;}
.ank{float:left; height:91px; width:50%;}
.ant{float:left; height:91px; width:50%;}
.gaz{float:left; height:90px; width:50%;}
.iz{float:left; height:90px; width:50%;}
}
@media screen and (max-width:900px) {
#form-container{top:110px; right:10px;}
}
@media screen and (max-width:970px) {
#global-footer-left p{width:420px; margin-top:15px;}
}
@media screen and (max-width:880px) {
#middle-content-right{float:left; width:100%;}
#yb{float:left; text-align:left; margin-left:60px;}
#middle-content-right span{margin-left:30px;}
#middle-content-right p{margin-left:30px;}
#middle-content-left{float:left; width:100%;}
}
@media screen and (max-width:850px) {
#global-footer-left img{margin-left:5px;}
#global-footer-right img{width:110px;}
#global-footer-right{margin-top:35px; margin-right:5px;}
#form-container{top:100px; right:10px;}
#logo{margin-left:10px;}
#logo img{width:180px;}
#social{width:180px; margin-right:10px; margin-top:5px;}
#top-band{height:65px;}
}
@media screen and (max-width:820px) {
#uzman-container-left{float:left; width:100%; text-align:center; height:auto;}
#uzman-container-right{float:left; width:100%; text-align:center;}
#form-container{position:relative; float:left; width:100%; height:365px; background:#ebebeb; top:0px; padding-top:20px; right:0px; border-radius:0px; border-top:3px solid #091d57; }
#form-container div{text-align:center; width:385px; position:relative; left:50%; margin-left:-193px; clear:both; margin-bottom:10px;}
#frm-btn{float:left; width:100%; text-align:center;}
#frm-btn input{float:none;}
}
@media screen and (max-width:720px) {
#gp, #int-link, #adr{float:left; clear:both; margin-left:10px;}
#int-link{margin-bottom:10px;}
}
@media screen and (max-width:690px) {
#global-footer-left{float:left; width:100%; position:relative;}
#global-footer-left p{position:absolute; display:block; padding-left:100px; width:auto;}
#global-footer-right{float:left; width:100%; text-align:center; margin-top:10px; margin-bottom:10px;}
#global-footer-right img{width:auto;}
}
@media screen and (max-width:560px) {
#middle-content-left{float:left; width:100%;}
#middle-content-left span{float:left; margin-left:10px;}
#middle-content-left p{float:left; margin-left:10px;}
#uzman-container-right{float:left; width:100%; text-align:center;}
#link-content > div a{width:14.0%;}
}