.no--padding {
    padding: 0 !important;
}

.no--margin {
    margin: 0 !important;
}

.cursor--pointer {
    cursor: pointer;
}

.font--gotham {
    font-family: 'Gotham Narrow SSm', tahoma, Arial, Helvetica, sans-serif;
}

.primary--color {
    color: #009688;
}

.primary--background-color {
    background-color: #009688;
}

.accent--color {
    color: #94C720;
}

.accent--background-color {
    background-color: #94C720;
}

.warn--color {
    color: #C70D38;
}

.warn--background-color {
    background-color: #C70D38;
}

.default--text-color {
    color: #404040;
}

.table-header--text-color {
    color: #8D8D8D;
}

.title--font-size {
    font-size: 48px;
}

.section-title--font-size {
    font-size: 24px;
}

.body-text--font-size {
    font-size: 16px;
}

.margin-sm-left-right {
    margin: 0 10px !important;
}

.margin-sm-left {
    margin-left: 10px !important;
}

.margin-sm-right {
    margin-right: 10px !important;
}

.font-size--10 {
    font-size: 10px;
}

.font-size--11 {
    font-size: 11px;
}

.font-size--12 {
    font-size: 12px;
}

.font-size--13 {
    font-size: 13px;
}

.font-size--14 {
    font-size: 14px;
}

.font-size--15 {
    font-size: 15px;
}

button:focus {
    outline: none;
    box-shadow: 0 0 1px 1px #333 !important;
}

.tingle-modal {
    .tingle-modal__closeIcon {
        font-family: initial;
        font-size: 46px;
    }
    .tingle-modal-box {
        width: 80%;
        background: transparent;
        .tingle-modal-box__content {
            padding: 0;
        }
        .tingle-modal-box__footer {
            bottom: 0;
            padding: 0;
        }
        .project-image {
            background-size: contain !important;
            background-position: center !important;
            background-repeat: no-repeat !important;
            height: auto;
            min-height: 300px;
        }
    }
}

.loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-color: #f3f3f3;
}

.cube-grid {
    width: 60px;
    height: 60px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -30px;
    margin-left: -30px;

    .cube {
        width: 33%;
        height: 33%;
        background-color: #31acca;
        float: left;
        -webkit-animation: cubeGridScaleDelay 1.3s infinite ease-in-out;
        animation: cubeGridScaleDelay 1.3s infinite ease-in-out;
    }

    .cube1 {
        -webkit-animation-delay: .2s;
        animation-delay: .2s;
    }

    .cube2 {
        -webkit-animation-delay: .3s;
        animation-delay: .3s;
    }

    .cube3 {
        -webkit-animation-delay: .4s;
        animation-delay: .4s;
    }

    .cube4 {
        -webkit-animation-delay: .1s;
        animation-delay: .1s;
    }

    .cube5 {
        -webkit-animation-delay: .2s;
        animation-delay: .2s;
    }

    .cube6 {
        -webkit-animation-delay: .3s;
        animation-delay: .3s;
    }

    .cube7 {
        -webkit-animation-delay: 0s;
        animation-delay: 0s;
    }

    .cube8 {
        -webkit-animation-delay: .1s;
        animation-delay: .1s;
    }

    .cube9 {
        -webkit-animation-delay: .2s;
        animation-delay: .2s;
    }
}

@-webkit-keyframes cubeGridScaleDelay {
    0%, 70%, 100% {
        -webkit-transform: scale3D(1, 1, 1);
        transform: scale3D(1, 1, 1);
    }
    35% {
        -webkit-transform: scale3D(0, 0, 1);
        transform: scale3D(0, 0, 1);
    }
}

@keyframes cubeGridScaleDelay {
    0%, 70%, 100% {
        -webkit-transform: scale3D(1, 1, 1);
        transform: scale3D(1, 1, 1);
    }
    35% {
        -webkit-transform: scale3D(0, 0, 1);
        transform: scale3D(0, 0, 1);
    }
}
