
@font-face {
	font-family: 'Conv_MyNetBla';
	src: url('MyNetBla.eot');
	src: local('☺'), url('MyNetBla.woff') format('woff'), url('MyNetBla.ttf') format('truetype'), url('MyNetBla.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

