
@font-face {
	font-family: 'Conv_MyNetLigIt';
	src: url('MyNetLigIt.eot');
	src: local('☺'), url('MyNetLigIt.woff') format('woff'), url('MyNetLigIt.ttf') format('truetype'), url('MyNetLigIt.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

